<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kuyu.mapper.pcms.PcmsItemRelationMapper" >
  <resultMap id="BaseResultMap" type="com.kuyu.model.pcms.PcmsItemRelation" >
    <id column="irid" property="irid" jdbcType="INTEGER" />
    <result column="itid" property="itid" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="relation_id" property="relationId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    irid, itid, type, relation_id, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.kuyu.model.pcms.PcmsItemRelationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pcms_item_relation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pcms_item_relation
    where irid = #{irid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pcms_item_relation
    where irid = #{irid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kuyu.model.pcms.PcmsItemRelationExample" >
    delete from pcms_item_relation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kuyu.model.pcms.PcmsItemRelation" >
    insert into pcms_item_relation (irid, itid, type, 
      relation_id, create_time)
    values (#{irid,jdbcType=INTEGER}, #{itid,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, 
      #{relationId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kuyu.model.pcms.PcmsItemRelation" >
    insert into pcms_item_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="irid != null" >
        irid,
      </if>
      <if test="itid != null" >
        itid,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="relationId != null" >
        relation_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="irid != null" >
        #{irid,jdbcType=INTEGER},
      </if>
      <if test="itid != null" >
        #{itid,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="relationId != null" >
        #{relationId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kuyu.model.pcms.PcmsItemRelationExample" resultType="java.lang.Integer" >
    select count(*) from pcms_item_relation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pcms_item_relation
    <set >
      <if test="record.irid != null" >
        irid = #{record.irid,jdbcType=INTEGER},
      </if>
      <if test="record.itid != null" >
        itid = #{record.itid,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.relationId != null" >
        relation_id = #{record.relationId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pcms_item_relation
    set irid = #{record.irid,jdbcType=INTEGER},
      itid = #{record.itid,jdbcType=INTEGER},
      type = #{record.type,jdbcType=VARCHAR},
      relation_id = #{record.relationId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kuyu.model.pcms.PcmsItemRelation" >
    update pcms_item_relation
    <set >
      <if test="itid != null" >
        itid = #{itid,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="relationId != null" >
        relation_id = #{relationId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where irid = #{irid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kuyu.model.pcms.PcmsItemRelation" >
    update pcms_item_relation
    set itid = #{itid,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      relation_id = #{relationId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where irid = #{irid,jdbcType=INTEGER}
  </update>
</mapper>