<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuyu.mapper.pcms.PcmsItemMapper">
  <resultMap id="BaseResultMap" type="com.kuyu.model.pcms.PcmsItem">
    <id column="itid" jdbcType="INTEGER" property="itid" />
    <result column="detail_id" jdbcType="VARCHAR" property="detailId" />
    <result column="request_company_code" jdbcType="VARCHAR" property="requestCompanyCode" />
    <result column="dept_code" jdbcType="VARCHAR" property="deptCode" />
    <result column="item_number" jdbcType="VARCHAR" property="itemNumber" />
    <result column="vendor_id" jdbcType="VARCHAR" property="vendorId" />
    <result column="request_id" jdbcType="VARCHAR" property="requestId" />
    <result column="item_price" jdbcType="VARCHAR" property="itemPrice" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="it_type" jdbcType="INTEGER" property="itType" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="operator_id" jdbcType="VARCHAR" property="operatorId" />
    <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
    <result column="subclass" jdbcType="VARCHAR" property="subclass" />
    <result column="dispatch" jdbcType="VARCHAR" property="dispatch" />
    <result column="dispatch_time" jdbcType="TIMESTAMP" property="dispatchTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    itid, detail_id, request_company_code, dept_code, item_number, vendor_id, request_id, 
    item_price, title, it_type, status, operator_id, operator_name, subclass, dispatch, 
    dispatch_time, end_time, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.kuyu.model.pcms.PcmsItemExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pcms_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pcms_item
    where itid = #{itid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pcms_item
    where itid = #{itid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kuyu.model.pcms.PcmsItemExample">
    delete from pcms_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kuyu.model.pcms.PcmsItem">
    insert into pcms_item (itid, detail_id, request_company_code, 
      dept_code, item_number, vendor_id, 
      request_id, item_price, title, 
      it_type, status, operator_id, 
      operator_name, subclass, dispatch, 
      dispatch_time, end_time, create_time, 
      update_time)
    values (#{itid,jdbcType=INTEGER}, #{detailId,jdbcType=VARCHAR}, #{requestCompanyCode,jdbcType=VARCHAR}, 
      #{deptCode,jdbcType=VARCHAR}, #{itemNumber,jdbcType=VARCHAR}, #{vendorId,jdbcType=VARCHAR}, 
      #{requestId,jdbcType=VARCHAR}, #{itemPrice,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{itType,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{operatorId,jdbcType=VARCHAR}, 
      #{operatorName,jdbcType=VARCHAR}, #{subclass,jdbcType=VARCHAR}, #{dispatch,jdbcType=VARCHAR}, 
      #{dispatchTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kuyu.model.pcms.PcmsItem">
    insert into pcms_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itid != null">
        itid,
      </if>
      <if test="detailId != null">
        detail_id,
      </if>
      <if test="requestCompanyCode != null">
        request_company_code,
      </if>
      <if test="deptCode != null">
        dept_code,
      </if>
      <if test="itemNumber != null">
        item_number,
      </if>
      <if test="vendorId != null">
        vendor_id,
      </if>
      <if test="requestId != null">
        request_id,
      </if>
      <if test="itemPrice != null">
        item_price,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="itType != null">
        it_type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="operatorId != null">
        operator_id,
      </if>
      <if test="operatorName != null">
        operator_name,
      </if>
      <if test="subclass != null">
        subclass,
      </if>
      <if test="dispatch != null">
        dispatch,
      </if>
      <if test="dispatchTime != null">
        dispatch_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itid != null">
        #{itid,jdbcType=INTEGER},
      </if>
      <if test="detailId != null">
        #{detailId,jdbcType=VARCHAR},
      </if>
      <if test="requestCompanyCode != null">
        #{requestCompanyCode,jdbcType=VARCHAR},
      </if>
      <if test="deptCode != null">
        #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="itemNumber != null">
        #{itemNumber,jdbcType=VARCHAR},
      </if>
      <if test="vendorId != null">
        #{vendorId,jdbcType=VARCHAR},
      </if>
      <if test="requestId != null">
        #{requestId,jdbcType=VARCHAR},
      </if>
      <if test="itemPrice != null">
        #{itemPrice,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="itType != null">
        #{itType,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="operatorId != null">
        #{operatorId,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null">
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="subclass != null">
        #{subclass,jdbcType=VARCHAR},
      </if>
      <if test="dispatch != null">
        #{dispatch,jdbcType=VARCHAR},
      </if>
      <if test="dispatchTime != null">
        #{dispatchTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kuyu.model.pcms.PcmsItemExample" resultType="java.lang.Integer">
    select count(*) from pcms_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pcms_item
    <set>
      <if test="record.itid != null">
        itid = #{record.itid,jdbcType=INTEGER},
      </if>
      <if test="record.detailId != null">
        detail_id = #{record.detailId,jdbcType=VARCHAR},
      </if>
      <if test="record.requestCompanyCode != null">
        request_company_code = #{record.requestCompanyCode,jdbcType=VARCHAR},
      </if>
      <if test="record.deptCode != null">
        dept_code = #{record.deptCode,jdbcType=VARCHAR},
      </if>
      <if test="record.itemNumber != null">
        item_number = #{record.itemNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.vendorId != null">
        vendor_id = #{record.vendorId,jdbcType=VARCHAR},
      </if>
      <if test="record.requestId != null">
        request_id = #{record.requestId,jdbcType=VARCHAR},
      </if>
      <if test="record.itemPrice != null">
        item_price = #{record.itemPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.itType != null">
        it_type = #{record.itType,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.operatorId != null">
        operator_id = #{record.operatorId,jdbcType=VARCHAR},
      </if>
      <if test="record.operatorName != null">
        operator_name = #{record.operatorName,jdbcType=VARCHAR},
      </if>
      <if test="record.subclass != null">
        subclass = #{record.subclass,jdbcType=VARCHAR},
      </if>
      <if test="record.dispatch != null">
        dispatch = #{record.dispatch,jdbcType=VARCHAR},
      </if>
      <if test="record.dispatchTime != null">
        dispatch_time = #{record.dispatchTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null">
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pcms_item
    set itid = #{record.itid,jdbcType=INTEGER},
      detail_id = #{record.detailId,jdbcType=VARCHAR},
      request_company_code = #{record.requestCompanyCode,jdbcType=VARCHAR},
      dept_code = #{record.deptCode,jdbcType=VARCHAR},
      item_number = #{record.itemNumber,jdbcType=VARCHAR},
      vendor_id = #{record.vendorId,jdbcType=VARCHAR},
      request_id = #{record.requestId,jdbcType=VARCHAR},
      item_price = #{record.itemPrice,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      it_type = #{record.itType,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      operator_id = #{record.operatorId,jdbcType=VARCHAR},
      operator_name = #{record.operatorName,jdbcType=VARCHAR},
      subclass = #{record.subclass,jdbcType=VARCHAR},
      dispatch = #{record.dispatch,jdbcType=VARCHAR},
      dispatch_time = #{record.dispatchTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kuyu.model.pcms.PcmsItem">
    update pcms_item
    <set>
      <if test="detailId != null">
        detail_id = #{detailId,jdbcType=VARCHAR},
      </if>
      <if test="requestCompanyCode != null">
        request_company_code = #{requestCompanyCode,jdbcType=VARCHAR},
      </if>
      <if test="deptCode != null">
        dept_code = #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="itemNumber != null">
        item_number = #{itemNumber,jdbcType=VARCHAR},
      </if>
      <if test="vendorId != null">
        vendor_id = #{vendorId,jdbcType=VARCHAR},
      </if>
      <if test="requestId != null">
        request_id = #{requestId,jdbcType=VARCHAR},
      </if>
      <if test="itemPrice != null">
        item_price = #{itemPrice,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="itType != null">
        it_type = #{itType,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="operatorId != null">
        operator_id = #{operatorId,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null">
        operator_name = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="subclass != null">
        subclass = #{subclass,jdbcType=VARCHAR},
      </if>
      <if test="dispatch != null">
        dispatch = #{dispatch,jdbcType=VARCHAR},
      </if>
      <if test="dispatchTime != null">
        dispatch_time = #{dispatchTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where itid = #{itid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kuyu.model.pcms.PcmsItem">
    update pcms_item
    set detail_id = #{detailId,jdbcType=VARCHAR},
      request_company_code = #{requestCompanyCode,jdbcType=VARCHAR},
      dept_code = #{deptCode,jdbcType=VARCHAR},
      item_number = #{itemNumber,jdbcType=VARCHAR},
      vendor_id = #{vendorId,jdbcType=VARCHAR},
      request_id = #{requestId,jdbcType=VARCHAR},
      item_price = #{itemPrice,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      it_type = #{itType,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      operator_id = #{operatorId,jdbcType=VARCHAR},
      operator_name = #{operatorName,jdbcType=VARCHAR},
      subclass = #{subclass,jdbcType=VARCHAR},
      dispatch = #{dispatch,jdbcType=VARCHAR},
      dispatch_time = #{dispatchTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where itid = #{itid,jdbcType=INTEGER}
  </update>
  
  
  <!--==============================以上为生成的sql部分=====================================-->
  
  <select id="getItemListByParam" parameterType="java.util.Map" resultType="com.kuyu.vo.pcms.ItemResult">
	SELECT
			a.itid,
			a.request_company_code AS orgCode,
			a.dispatch AS companyCode,
			a.vendor_id AS vendorId,
			b.vendor_name AS vendorName,
			b.duty_paragrap AS taxNumber,
			a.request_id AS requestId,
			c.REQUEST_TITLE AS requestTitle,
			IFNULL(a.subclass,item_price) AS availableMoney,
			IFNULL(d.DETAIL_ACCOUNT,f.fee_detail_type) AS detailAccount,
			a.item_price AS itemPrice,
			c.REQUEST_USER AS requestUser,
			c.request_user_name AS requestUserName,
			c.REQUEST_DEPT AS dept,
			c.request_dept_name AS deptName,
			c.REQUEST_CREATE_TIME AS applyTime,
			a.`status`,
			/*c.type AS projectType*/
            a.it_type AS projectType
		FROM
			 pcms_item  a
		LEFT JOIN pcms_supplier b ON a.vendor_id=b.vendor_id
		LEFT JOIN pcms_project c ON a.request_id=c.REQUEST_ID
	  	LEFT JOIN pcms_project_deatil d ON a.detail_id=d.DETAIL_ID
		LEFT JOIN tpm_activity_original f ON f.project_id=a.detail_id
		WHERE 1=1 
  <if test="companyCode != null">
        AND a.request_company_code=#{companyCode}
  </if>
  <if test="userRole != null and '-1' eq userRole">
        AND c.REQUEST_USER=#{personCode}
  </if>
  <if test="status != null">
  		AND a.`status`=#{status}
  </if>	
  <if test="approvalStatrTime != null">
  		AND DATE_FORMAT(c.REQUEST_CREATE_TIME,'%Y-%m-%d') BETWEEN #{approvalStatrTime} AND #{approvalEndTime}
  </if>	
  <if test="searchKey != null">
  	AND (
		b.vendor_name LIKE #{searchKey}
		OR a.request_id LIKE #{searchKey}
		OR c.request_user_name LIKE #{searchKey}
		OR c.REQUEST_DEPT LIKE #{searchKey} 
		)
  </if>
  ORDER BY c.creat_time DESC 
  LIMIT #{linimt},#{size}
  </select> 
  
  <select id="getItemListCountByParam" parameterType="map" resultType="int">
		SELECT
			count(1)
		FROM
			pcms_item a 
		LEFT JOIN pcms_supplier b ON a.vendor_id=b.vendor_id 
		LEFT JOIN pcms_project c ON a.request_id=c.REQUEST_ID 
		WHERE 1=1 
  <if test="companyCode != null">
        AND a.request_company_code=#{companyCode}
  </if>
  <if test="userRole != null and '-1' == userRole">
        AND c.REQUEST_USER=#{personCode}
  </if>
  <if test="status != null">
  		AND a.`status`=#{status}
  </if>
  <if test="approvalStatrTime != null">
  		AND DATE_FORMAT(c.REQUEST_CREATE_TIME,'%Y-%m-%d') BETWEEN #{approvalStatrTime} AND #{approvalEndTime}
  </if>				
  <if test="searchKey != null">
  	AND (
		b.vendor_name LIKE #{searchKey}
		OR a.request_id LIKE #{searchKey}
		OR c.request_user_name LIKE #{searchKey}
		OR c.REQUEST_DEPT LIKE #{searchKey} 
		)
  </if>
  </select> 
  
  
  
  <select id="getItemItemDetailById" parameterType="int" resultType="com.kuyu.vo.pcms.ItemDetail">
  		<!--  SELECT
			a.itid,
			a.it_type AS itType,
			b.vendor_name AS vendorName,
			b.vendor_id as vendor_id,
			a.request_id AS requestId,
			c.REQUEST_TITLE AS requestTitle,
			c.DETAIL_ACCOUNT AS detailAccount,
			c.finance_user_name AS financeUserName,
			c.REQUEST_COMPANY_CODE AS requestCompanyCode,
			c.request_user_name AS requestUserName,
			c.DETAIL_SUBJECT AS detailSubject,
			c.REQUEST_DEPT AS requestDept,
			c.REQUEST_CREATE_TIME AS requestCreateTime,
			c.REQUEST_END_TIME AS requestEndTime,
			a.`status`,
			e.SHOP_CRM_CODE,
			e.SHOP_NAME,
			e.SHOP_CHANNEL,
			CONCAT(e.SHOP_PROVINCE,e.SHOP_CITY,e.SHOP_COUNTY) AS SHOP_ADDRESS,
			e.SHOP_BRANCH,
			e.SHOP_LEVEL,
			e.DETAIL_TASK
		FROM
			pcms_item a
		LEFT JOIN pcms_supplier b ON a.vendor_id=b.vendor_id
		LEFT JOIN pcms_project c ON a.request_id=c.REQUEST_ID
		LEFT JOIN tpm_dept d ON c.REQUEST_USER=d.org_name
		LEFT JOIN pcms_shop e ON e.REQUEST_ID=c.REQUEST_ID
		where a.itid=#{itid}-->
		SELECT
			a.itid,
			a.it_type AS itType,
			b.vendor_name AS vendorName,
			b.vendor_id as vendor_id,
			a.request_id AS requestId,
			c.REQUEST_TITLE AS requestTitle,
			IFNULL(f.DETAIL_ACCOUNT,h.fee_detail_type) AS detailAccount,
			c.finance_user_name AS financeUserName,
			c.REQUEST_COMPANY_CODE AS requestCompanyCode,
			j.person_name AS requestUserName,
			l.person_name AS createUser,
			IFNULL(f.DETAIL_SUBJECT,k.org_name) AS detailSubject,
			c.REQUEST_DEPT AS requestDept,
			c.REQUEST_CREATE_TIME AS requestCreateTime,
			c.REQUEST_END_TIME AS requestEndTime,
			a.`status`,
			e.SHOP_CRM_CODE,
			e.SHOP_NAME,
			e.SHOP_CHANNEL,
			CONCAT(e.SHOP_PROVINCE,e.SHOP_CITY,e.SHOP_COUNTY) AS SHOP_ADDRESS,
			e.SHOP_BRANCH,
			e.SHOP_LEVEL,
			f.DETAIL_TASK,
			b.statement_date AS statementTime,
			m.create_time AS confirmTime
		FROM
			pcms_item a
		LEFT JOIN pcms_supplier b ON a.vendor_id=b.vendor_id
		LEFT JOIN pcms_project c ON a.request_id=c.REQUEST_ID
		LEFT JOIN tpm_dept d ON c.REQUEST_USER=d.org_name
		LEFT JOIN pcms_shop e ON e.REQUEST_ID=c.REQUEST_ID
		LEFT JOIN pcms_project_deatil f ON a.detail_id=f.DETAIL_ID
		LEFT JOIN tpm_employee j ON c.REQUEST_USER=j.person_code 
		LEFT JOIN tpm_activity_original h ON a.detail_id=h.project_id
		LEFT JOIN tpm_dept k ON h.dept=k.org_code
		LEFT JOIN tpm_employee l ON l.person_code=c.CREATE_USER
		LEFT JOIN pcms_item_log m ON m.itid=a.itid AND m.`status`=3
		WHERE a.itid=#{itid}
  </select>
  
  <select id="selectByDetailId" parameterType="string" resultMap="BaseResultMap">
		SELECT
			*
		FROM
			pcms_item
		WHERE
			detail_id = #{detailId}
  </select>
  
  
</mapper>