<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuyu.mapper.pcms.PcmsOthertmMapper">
  <resultMap id="BaseResultMap" type="com.kuyu.model.pcms.PcmsOthertm">
    <id column="otid" jdbcType="INTEGER" property="otid" />
    <result column="detail_id" jdbcType="VARCHAR" property="detailId" />
    <result column="request_id" jdbcType="VARCHAR" property="requestId" />
    <result column="vendor_id" jdbcType="VARCHAR" property="vendorId" />
    <result column="mrname3" jdbcType="VARCHAR" property="mrname3" />
    <result column="cost" jdbcType="VARCHAR" property="cost" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="comparison_price" jdbcType="VARCHAR" property="comparisonPrice" />
    <result column="specifications3" jdbcType="VARCHAR" property="specifications3" />
    <result column="CHILDREN3_DETAIL" jdbcType="VARCHAR" property="children3Detail" />
    <result column="CHILDREN3_VENDOR" jdbcType="VARCHAR" property="children3Vendor" />
    <result column="CHILDREN3_BUILDTIME" jdbcType="VARCHAR" property="children3Buildtime" />
    <result column="CHILDREN3_COUNT" jdbcType="VARCHAR" property="children3Count" />
    <result column="CHILDREN3_PRICE" jdbcType="VARCHAR" property="children3Price" />
    <result column="CHILDREN3_AMOUNT" jdbcType="VARCHAR" property="children3Amount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    otid, detail_id, request_id, vendor_id, mrname3, cost, unit, note, comparison_price, 
    specifications3, CHILDREN3_DETAIL, CHILDREN3_VENDOR, CHILDREN3_BUILDTIME, CHILDREN3_COUNT, 
    CHILDREN3_PRICE, CHILDREN3_AMOUNT, create_time
  </sql>
  <select id="selectByExample" parameterType="com.kuyu.model.pcms.PcmsOthertmExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pcms_othertm
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pcms_othertm
    where otid = #{otid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pcms_othertm
    where otid = #{otid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kuyu.model.pcms.PcmsOthertmExample">
    delete from pcms_othertm
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kuyu.model.pcms.PcmsOthertm">
    insert into pcms_othertm (otid, detail_id, request_id, 
      vendor_id, mrname3, cost, 
      unit, note, comparison_price, 
      specifications3, CHILDREN3_DETAIL, CHILDREN3_VENDOR, 
      CHILDREN3_BUILDTIME, CHILDREN3_COUNT, CHILDREN3_PRICE, 
      CHILDREN3_AMOUNT, create_time)
    values (#{otid,jdbcType=INTEGER}, #{detailId,jdbcType=VARCHAR}, #{requestId,jdbcType=VARCHAR}, 
      #{vendorId,jdbcType=VARCHAR}, #{mrname3,jdbcType=VARCHAR}, #{cost,jdbcType=VARCHAR}, 
      #{unit,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, #{comparisonPrice,jdbcType=VARCHAR}, 
      #{specifications3,jdbcType=VARCHAR}, #{children3Detail,jdbcType=VARCHAR}, #{children3Vendor,jdbcType=VARCHAR}, 
      #{children3Buildtime,jdbcType=VARCHAR}, #{children3Count,jdbcType=VARCHAR}, #{children3Price,jdbcType=VARCHAR}, 
      #{children3Amount,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kuyu.model.pcms.PcmsOthertm">
    insert into pcms_othertm
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="otid != null">
        otid,
      </if>
      <if test="detailId != null">
        detail_id,
      </if>
      <if test="requestId != null">
        request_id,
      </if>
      <if test="vendorId != null">
        vendor_id,
      </if>
      <if test="mrname3 != null">
        mrname3,
      </if>
      <if test="cost != null">
        cost,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="comparisonPrice != null">
        comparison_price,
      </if>
      <if test="specifications3 != null">
        specifications3,
      </if>
      <if test="children3Detail != null">
        CHILDREN3_DETAIL,
      </if>
      <if test="children3Vendor != null">
        CHILDREN3_VENDOR,
      </if>
      <if test="children3Buildtime != null">
        CHILDREN3_BUILDTIME,
      </if>
      <if test="children3Count != null">
        CHILDREN3_COUNT,
      </if>
      <if test="children3Price != null">
        CHILDREN3_PRICE,
      </if>
      <if test="children3Amount != null">
        CHILDREN3_AMOUNT,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="otid != null">
        #{otid,jdbcType=INTEGER},
      </if>
      <if test="detailId != null">
        #{detailId,jdbcType=VARCHAR},
      </if>
      <if test="requestId != null">
        #{requestId,jdbcType=VARCHAR},
      </if>
      <if test="vendorId != null">
        #{vendorId,jdbcType=VARCHAR},
      </if>
      <if test="mrname3 != null">
        #{mrname3,jdbcType=VARCHAR},
      </if>
      <if test="cost != null">
        #{cost,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="comparisonPrice != null">
        #{comparisonPrice,jdbcType=VARCHAR},
      </if>
      <if test="specifications3 != null">
        #{specifications3,jdbcType=VARCHAR},
      </if>
      <if test="children3Detail != null">
        #{children3Detail,jdbcType=VARCHAR},
      </if>
      <if test="children3Vendor != null">
        #{children3Vendor,jdbcType=VARCHAR},
      </if>
      <if test="children3Buildtime != null">
        #{children3Buildtime,jdbcType=VARCHAR},
      </if>
      <if test="children3Count != null">
        #{children3Count,jdbcType=VARCHAR},
      </if>
      <if test="children3Price != null">
        #{children3Price,jdbcType=VARCHAR},
      </if>
      <if test="children3Amount != null">
        #{children3Amount,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kuyu.model.pcms.PcmsOthertmExample" resultType="java.lang.Integer">
    select count(*) from pcms_othertm
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pcms_othertm
    <set>
      <if test="record.otid != null">
        otid = #{record.otid,jdbcType=INTEGER},
      </if>
      <if test="record.detailId != null">
        detail_id = #{record.detailId,jdbcType=VARCHAR},
      </if>
      <if test="record.requestId != null">
        request_id = #{record.requestId,jdbcType=VARCHAR},
      </if>
      <if test="record.vendorId != null">
        vendor_id = #{record.vendorId,jdbcType=VARCHAR},
      </if>
      <if test="record.mrname3 != null">
        mrname3 = #{record.mrname3,jdbcType=VARCHAR},
      </if>
      <if test="record.cost != null">
        cost = #{record.cost,jdbcType=VARCHAR},
      </if>
      <if test="record.unit != null">
        unit = #{record.unit,jdbcType=VARCHAR},
      </if>
      <if test="record.note != null">
        note = #{record.note,jdbcType=VARCHAR},
      </if>
      <if test="record.comparisonPrice != null">
        comparison_price = #{record.comparisonPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.specifications3 != null">
        specifications3 = #{record.specifications3,jdbcType=VARCHAR},
      </if>
      <if test="record.children3Detail != null">
        CHILDREN3_DETAIL = #{record.children3Detail,jdbcType=VARCHAR},
      </if>
      <if test="record.children3Vendor != null">
        CHILDREN3_VENDOR = #{record.children3Vendor,jdbcType=VARCHAR},
      </if>
      <if test="record.children3Buildtime != null">
        CHILDREN3_BUILDTIME = #{record.children3Buildtime,jdbcType=VARCHAR},
      </if>
      <if test="record.children3Count != null">
        CHILDREN3_COUNT = #{record.children3Count,jdbcType=VARCHAR},
      </if>
      <if test="record.children3Price != null">
        CHILDREN3_PRICE = #{record.children3Price,jdbcType=VARCHAR},
      </if>
      <if test="record.children3Amount != null">
        CHILDREN3_AMOUNT = #{record.children3Amount,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pcms_othertm
    set otid = #{record.otid,jdbcType=INTEGER},
      detail_id = #{record.detailId,jdbcType=VARCHAR},
      request_id = #{record.requestId,jdbcType=VARCHAR},
      vendor_id = #{record.vendorId,jdbcType=VARCHAR},
      mrname3 = #{record.mrname3,jdbcType=VARCHAR},
      cost = #{record.cost,jdbcType=VARCHAR},
      unit = #{record.unit,jdbcType=VARCHAR},
      note = #{record.note,jdbcType=VARCHAR},
      comparison_price = #{record.comparisonPrice,jdbcType=VARCHAR},
      specifications3 = #{record.specifications3,jdbcType=VARCHAR},
      CHILDREN3_DETAIL = #{record.children3Detail,jdbcType=VARCHAR},
      CHILDREN3_VENDOR = #{record.children3Vendor,jdbcType=VARCHAR},
      CHILDREN3_BUILDTIME = #{record.children3Buildtime,jdbcType=VARCHAR},
      CHILDREN3_COUNT = #{record.children3Count,jdbcType=VARCHAR},
      CHILDREN3_PRICE = #{record.children3Price,jdbcType=VARCHAR},
      CHILDREN3_AMOUNT = #{record.children3Amount,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kuyu.model.pcms.PcmsOthertm">
    update pcms_othertm
    <set>
      <if test="detailId != null">
        detail_id = #{detailId,jdbcType=VARCHAR},
      </if>
      <if test="requestId != null">
        request_id = #{requestId,jdbcType=VARCHAR},
      </if>
      <if test="vendorId != null">
        vendor_id = #{vendorId,jdbcType=VARCHAR},
      </if>
      <if test="mrname3 != null">
        mrname3 = #{mrname3,jdbcType=VARCHAR},
      </if>
      <if test="cost != null">
        cost = #{cost,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="comparisonPrice != null">
        comparison_price = #{comparisonPrice,jdbcType=VARCHAR},
      </if>
      <if test="specifications3 != null">
        specifications3 = #{specifications3,jdbcType=VARCHAR},
      </if>
      <if test="children3Detail != null">
        CHILDREN3_DETAIL = #{children3Detail,jdbcType=VARCHAR},
      </if>
      <if test="children3Vendor != null">
        CHILDREN3_VENDOR = #{children3Vendor,jdbcType=VARCHAR},
      </if>
      <if test="children3Buildtime != null">
        CHILDREN3_BUILDTIME = #{children3Buildtime,jdbcType=VARCHAR},
      </if>
      <if test="children3Count != null">
        CHILDREN3_COUNT = #{children3Count,jdbcType=VARCHAR},
      </if>
      <if test="children3Price != null">
        CHILDREN3_PRICE = #{children3Price,jdbcType=VARCHAR},
      </if>
      <if test="children3Amount != null">
        CHILDREN3_AMOUNT = #{children3Amount,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where otid = #{otid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kuyu.model.pcms.PcmsOthertm">
    update pcms_othertm
    set detail_id = #{detailId,jdbcType=VARCHAR},
      request_id = #{requestId,jdbcType=VARCHAR},
      vendor_id = #{vendorId,jdbcType=VARCHAR},
      mrname3 = #{mrname3,jdbcType=VARCHAR},
      cost = #{cost,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      comparison_price = #{comparisonPrice,jdbcType=VARCHAR},
      specifications3 = #{specifications3,jdbcType=VARCHAR},
      CHILDREN3_DETAIL = #{children3Detail,jdbcType=VARCHAR},
      CHILDREN3_VENDOR = #{children3Vendor,jdbcType=VARCHAR},
      CHILDREN3_BUILDTIME = #{children3Buildtime,jdbcType=VARCHAR},
      CHILDREN3_COUNT = #{children3Count,jdbcType=VARCHAR},
      CHILDREN3_PRICE = #{children3Price,jdbcType=VARCHAR},
      CHILDREN3_AMOUNT = #{children3Amount,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where otid = #{otid,jdbcType=INTEGER}
  </update>
 

  
  <!-- ============================================================================================== -->
<select id="selectByItid" parameterType="int" resultType="com.kuyu.vo.pcms.OthertmResult">
	<!--  SELECT
	b.otid,
	b.mrname3,
	'其他终端建设' AS cost,
	b.CHILDREN3_COUNT,
	b.CHILDREN3_PRICE,
	b.CHILDREN3_AMOUNT,
	b.CHILDREN3_BUILDTIME
FROM
	pcms_item_relation a
LEFT JOIN pcms_othertm b ON a.relation_id = b.otid
WHERE
	a.itid = #{itid}-->
	SELECT
	b.otid,
	b.mrname3,
	'其他终端建设' AS cost,
	b.CHILDREN3_COUNT,
	b.CHILDREN3_PRICE,
	b.CHILDREN3_AMOUNT,
	b.CHILDREN3_BUILDTIME
FROM
	pcms_item a
LEFT JOIN  pcms_othertm b ON a.detail_id=b.detail_id
WHERE
	a.itid = #{itid}
</select>
</mapper>