<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuyu.mapper.pcms.PcmsIinitializationMapper">

    <select id="selectByCompany" resultType="com.kuyu.model.pcms.PcmsIinitializationModel">
        SELECT
        pr.initial_balance,
        pr.balance,
        pr.company,
        pr.vendor_id,
        pr.month,
        pr.id
        FROM pcms_initialization pr
        <where>
            <if test="company !=null and company !=''">
                and pr.company = #{company}
            </if>
            <if test="vendor_id !=null and vendor_id !=''">
                and pr.vendor_id = #{vendor_id}
            </if>
            <if test="month !=null and month !=''">
                and pr.month = #{month}
            </if>
        </where>
    </select>


    <select id="selectByReconciliationId" resultType="com.kuyu.model.pcms.PcmsIinitializationModel">
        SELECT
        pr.initial_balance,
        pr.balance,
        pr.company,
        pr.vendor_id,
        pr.pay_amount,
        pr.financial_money,
        pr.month,
        pr.id
        FROM pcms_initialization pr
        <where>
            <if test="reconciliationId !=null and reconciliationId !=''">
                and pr.pcms_reconciliation_id = #{reconciliationId}
            </if>
        </where>
    </select>

    <select id="selectByMonth" resultType="com.kuyu.model.pcms.PcmsIinitializationModel">
 <!--       SELECT
        pr.initial_balance,
        pr.balance,
        pr.company,
        pr.vendor_id,
        pr.month,
        pr.id
        FROM pcms_initialization pr
        <where>
            <if test="month !=null and month !=''">
                pr.month = month
            </if>
        </where>-->

        SELECT
        a.initial_balance,
        a.balance,
        a.company,
        a.vendor_id,
        a.month,
        a.type,
        a.pay_amount,
        a.financial_money,
        a.pcms_reconciliation_id,
        a.create_time,
        a.id FROM
        (SELECT * FROM `pcms_initialization` t
        <where>
            <if test="twoMonth !=null and twoMonth !=''">
                t.`month` = #{twoMonth}
            </if>
        </where>
        )
        a
        WHERE
        NOT EXISTS
        (SELECT 1 FROM (SELECT * FROM `pcms_initialization` f
        <where>
            <if test="month !=null and month !=''">
                f.`month` = #{month}
            </if>
        </where>
        ) d WHERE a.`vendor_id` = d.`vendor_id`)
    </select>


</mapper>