<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuyu.mapper.pcms.PcmsSupplierInvoiceMapper">

    <insert id="insertPcmsSupplierInvoice" parameterType="com.kuyu.model.pcms.PcmsSupplierInvoiceModel" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		pcms_supplier_invoice(itid,vendor_id,type,invoice_code,invoice_no,invoice_price,tax,create_time)
		VALUES
		(#{itid},#{vendor_id},#{type},#{invoice_code},#{invoice_no},#{invoice_price},#{tax},SYSDATE())
	</insert>

</mapper>