<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuyu.mapper.pcms.PcmsSupplierMaterialMapper">

    <!-- 供应商物料分页 -->
    <select id="findSupplierMaterialByPage" resultType="com.kuyu.vo.query.SupplierMaterialQuery">
        SELECT
        t.id AS id,
        t.category AS category,
        t.comparison_price AS comparisonPrice,
        t.note AS note,
        t.ranges AS ranges,
        t.specifications AS specifications,
        t.unit AS unit,
        t.url AS url
        FROM pcms_supplier_material t
        <where>
            <!--<if test="params.category !=null and params.category !=''">
                t.category LIKE '%${params.category}%'
            </if>
            <if test="params.specifications !=null and params.specifications !=''">
                OR t.specifications LIKE '%${params.specifications}%'
            </if>-->
            <if test="params.company !=null and params.company !=''">
                AND t.company =
                #{params.company,jdbcType=VARCHAR}
            </if>
            <!--<if test="params.version !=null and params.version !=''">
                AND t.version =
                #{params.version,jdbcType=VARCHAR}
            </if>-->
            <if test="params.vendor_id !=null and params.vendor_id !=''">
                AND t.vendor_id =
                #{params.vendor_id,jdbcType=VARCHAR}
            </if>
            <if test="params.state == 0">
                AND t.state =
                #{params.state,jdbcType=INTEGER}
            </if>
        </where>
        ORDER BY t.create_time DESC
    </select>

    <!-- 根据供应商和公司编码查询最新版本号 -->
    <select id="findSupplierMaterialByVendorAndCompany" resultType="com.kuyu.model.pcms.PcmsSupplierMaterialModel">
        SELECT
        t.id AS id,
        t.version AS version
        FROM pcms_supplier_material t
        <where>
            <if test="company !=null and company !=''">
                AND t.company =
                #{company,jdbcType=VARCHAR}
            </if>
            <if test="vendor_id !=null and vendor_id !=''">
                AND t.vendor_id =
                #{vendor_id,jdbcType=VARCHAR}
            </if>
        </where>
        ORDER BY t.id DESC;
    </select>

    <select id="getSupplierMaterialByState" resultType="com.kuyu.model.pcms.PcmsSupplierMaterialModel">
        SELECT
        psm.id AS id,
        psm.category AS category,
        psm.comparison_price AS comparisonPrice,
        psm.note AS note,
        psm.ranges AS ranges,
        psm.specifications AS specifications,
        psm.unit AS unit
        FROM pcms_supplier_material psm
        <where>
            <if test="company !=null and company !=''">
                AND psm.company =
                #{company,jdbcType=VARCHAR}
            </if>
            <if test="vendor_id !=null and vendor_id !=''">
                AND psm.vendor_id =
                #{vendor_id,jdbcType=VARCHAR}
            </if>
                AND psm.state =
                #{state,jdbcType=INTEGER}
        </where>
        ORDER BY psm.id DESC;
    </select>


    <select id="querySupplierMaterialList" resultType="com.kuyu.model.pcms.PcmsSupplierMaterialModel">
        SELECT
        psm.id AS id,
        psm.category AS category,
        psm.comparison_price AS comparison_price,
        psm.note AS note,
        psm.ranges AS ranges,
        psm.specifications AS specifications,
        psm.unit AS unit
        FROM pcms_user p
        LEFT JOIN  pcms_supplier_user psu ON p.openid = psu.openid
        LEFT JOIN  pcms_supplier_company psc ON psc.vendor_id = psu.vendor_id
        RIGHT JOIN  pcms_supplier_material psm ON psc.company = psm.company AND psc.vendor_id = psm.vendor_id
        <where>
            <if test="params.category !=null and params.category !=''">
                psm.category LIKE '%${params.category}%'
            </if>
            <if test="params.specifications !=null and params.specifications !=''">
                OR psm.specifications LIKE '%${params.specifications}%'
            </if>
            <if test="params.openid !=null and params.openid !=''">
                AND p.openid =
                #{params.openid,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="queryBySupplierMaterialList" resultType="com.kuyu.model.pcms.PcmsSupplierMaterialModel">
        SELECT
        psm.id AS id,
        psm.category AS category,
        psm.comparison_price AS comparison_price,
        psm.note AS note,
        psm.ranges AS ranges,
        psm.specifications AS specifications,
        psm.unit AS unit
        FROM pcms_supplier_company psc
        RIGHT JOIN  pcms_supplier_material psm ON psc.company = psm.company AND psc.vendor_id = psm.vendor_id
        <where>
            <if test="params.category !=null and params.category !=''">
                psm.category LIKE '%${params.category}%'
            </if>
            <if test="params.vendor_id !=null and params.vendor_id !=''">
                AND psm.vendor_id =
                #{params.vendor_id,jdbcType=VARCHAR}
            </if>
            <if test="params.company !=null and params.company !=''">
                AND psc.company =
                #{params.company,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="getSupplierMaterialUrl" resultType="com.kuyu.model.pcms.PcmsSupplierMaterialModel">
        SELECT
        t.category AS category,
        t.comparison_price AS comparison_price,
        t.note AS note,
        t.ranges AS ranges,
        t.specifications AS specifications,
        t.unit AS unit,
        t.vendor_name AS vendor_name
        FROM pcms_supplier_material t
        <where>
            <if test="vendor_id !=null vendor_id !=''">
                AND t.vendor_id =
                #{vendor_id,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

</mapper>