<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuyu.mapper.pcms.PcmsMaterialVersionMapper">


    <select id="selectMaterialVersion" resultType="com.kuyu.model.pcms.PcmsMaterialVersionModel">
        SELECT
        t.create_time,
        t.name,
        t.url,
        t.version
        FROM pcms_material_version t
        <where>
                t.vendor_id = #{vendor_id}
                AND t.company = #{company}
        </where>
    </select>

</mapper>