<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuyu.mapper.pcms.PcmsReconciliationMapper">

    <insert id="insertReconciliation" parameterType="com.kuyu.model.pcms.PcmsReconciliationModel" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		pcms_reconciliation(vendor_id,vendor_name,month,state,reconciliation_id,create_time)
		VALUES
		(#{vendor_id},#{vendor_name},#{month},#{state},#{reconciliation_id},#{create_time})
	</insert>

	<select id="findListPage" resultType="com.kuyu.vo.ReconciliationVo">
		SELECT
		t.id,
		t.vendor_id,
		t.vendor_name,
		t.month,
		t.state,
		t.create_time
		FROM
		pcms_reconciliation t
		LEFT JOIN pcms_supplier_company psc ON psc.vendor_id = t.vendor_id
		<where>
			<if test="params.vendor_name !=null and params.vendor_name !=''">
				t.vendor_name LIKE '%${params.vendor_name}%'
			</if>
			<if test="params.state !=null and params.state !=''">
				t.state = #{params.state}
			</if>
			<if test="params.start_time !=null and params.start_time !=''">
				AND DATE_FORMAT(t.create_time,'%Y-%m-%d') BETWEEN #{params.start_time} AND #{params.end_time}
			</if>
		</where>
	</select>

</mapper>