<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuyu.mapper.pcms.PcmsPendingMaterialMapper">
    <select id="selectByItid" resultType="com.kuyu.model.pcms.PcmsPendingMaterialModel">
        SELECT t.category,t.id,t.comparison_price,t.image,t.ranges,t.specifications,t.ranges,t.unit,t.itid,t.number,t.all_price,t.state
        FROM pcms_pending_material t
        <where>
            <if test="itid != null and itid != ''">
                t.itid = #{itid}
            </if>
        </where>
    </select>

    <select id="queryByItid" resultType="com.kuyu.vo.pcms.PendingMaterialVo">
        SELECT t.category,t.id,t.comparison_price,t.image,t.ranges,t.specifications,t.ranges,t.unit,t.itid,t.number,t.all_price,t.state
        FROM pcms_pending_material t
        <where>
            <if test="itid != null and itid != ''">
                t.itid = #{itid}
            </if>
        </where>
    </select>

    <insert id="insertPendingMaterial" parameterType="com.kuyu.model.pcms.PcmsPendingMaterialModel" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		pcms_pending_material(itid,category,specifications,unit,ranges,comparison_price,number,all_price,create_time)
		VALUES
		(#{itid},#{category},#{specifications},#{unit},#{ranges},#{comparison_price},#{number},#{all_price},SYSDATE())
	</insert>

    <select id="selectId" resultType="com.kuyu.model.pcms.PcmsPendingMaterialModel">
        SELECT t.category,t.id,t.comparison_price,t.image,t.ranges,t.specifications,t.ranges,t.unit,t.itid,t.number,t.all_price
        FROM pcms_pending_material t
        <where>
            <if test="id != null and id != ''">
                t.id = #{id}
            </if>
        </where>
    </select>

    <!-- /**根据ITID查询可转办的物料清单*/ -->
    <select id="selectPendingMaterialByItid" resultType="com.kuyu.model.pcms.PcmsPendingMaterialModel">
        SELECT t.category,t.id,t.comparison_price,t.image,t.ranges,t.specifications,t.ranges,t.unit,t.itid,t.number,t.all_price,t.state
        FROM pcms_pending_material t
        <where>
            <if test="itid != null and itid != ''">
                t.itid = #{itid} /*and t.state=0*/
            </if>
        </where>
    </select>


</mapper>