<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuyu.mapper.pcms.PcmsProjectMapper">
  <resultMap id="BaseResultMap" type="com.kuyu.model.pcms.PcmsProject">
    <id column="REQUEST_ID" jdbcType="VARCHAR" property="requestId" />
    <result column="REQUEST_TITLE" jdbcType="VARCHAR" property="requestTitle" />
    <result column="DETAIL_ACCOUNT" jdbcType="VARCHAR" property="detailAccount" />
    <result column="REQUEST_COMPANY_CODE" jdbcType="VARCHAR" property="requestCompanyCode" />
    <result column="DETAIL_SUBJECT" jdbcType="VARCHAR" property="detailSubject" />
    <result column="REQUEST_DEPT" jdbcType="VARCHAR" property="requestDept" />
    <result column="REQUEST_USER" jdbcType="VARCHAR" property="requestUser" />
    <result column="REQUEST_TELPHONE" jdbcType="VARCHAR" property="requestTelphone" />
    <result column="REQUEST_EMAIL" jdbcType="VARCHAR" property="requestEmail" />
    <result column="REQUEST_INFO" jdbcType="VARCHAR" property="requestInfo" />
    <result column="request_dept_name" jdbcType="VARCHAR" property="requestDeptName" />
    <result column="request_user_name" jdbcType="VARCHAR" property="requestUserName" />
    <result column="request_user_name_copy" jdbcType="VARCHAR" property="requestUserNameCopy" />
    <result column="finance_user" jdbcType="VARCHAR" property="financeUser" />
    <result column="finance_user_name" jdbcType="VARCHAR" property="financeUserName" />
    <result column="REQUEST_CREATE_TIME" jdbcType="VARCHAR" property="requestCreateTime" />
    <result column="REQUEST_END_TIME" jdbcType="VARCHAR" property="requestEndTime" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CURRENCY" jdbcType="VARCHAR" property="currency" />
    <result column="EXCHANGE" jdbcType="VARCHAR" property="exchange" />
    <result column="balance" jdbcType="VARCHAR" property="balance" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.kuyu.model.pcms.PcmsProject">
    <result column="request_json" jdbcType="LONGVARCHAR" property="requestJson" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REQUEST_ID, REQUEST_TITLE, DETAIL_ACCOUNT, REQUEST_COMPANY_CODE, DETAIL_SUBJECT, 
    REQUEST_DEPT, REQUEST_USER, REQUEST_TELPHONE, REQUEST_EMAIL, REQUEST_INFO, request_dept_name, 
    request_user_name, request_user_name_copy, finance_user, finance_user_name, REQUEST_CREATE_TIME, 
    REQUEST_END_TIME, TYPE, CREATE_USER, CREATE_TIME, CURRENCY, EXCHANGE, balance, status, 
    creat_time
  </sql>
  <sql id="Blob_Column_List">
    request_json
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.kuyu.model.pcms.PcmsProjectExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from pcms_project
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.kuyu.model.pcms.PcmsProjectExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pcms_project
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from pcms_project
    where REQUEST_ID = #{requestId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from pcms_project
    where REQUEST_ID = #{requestId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.kuyu.model.pcms.PcmsProjectExample">
    delete from pcms_project
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kuyu.model.pcms.PcmsProject">
    insert into pcms_project (REQUEST_ID, REQUEST_TITLE, DETAIL_ACCOUNT, 
      REQUEST_COMPANY_CODE, DETAIL_SUBJECT, REQUEST_DEPT, 
      REQUEST_USER, REQUEST_TELPHONE, REQUEST_EMAIL, 
      REQUEST_INFO, request_dept_name, request_user_name, 
      request_user_name_copy, finance_user, finance_user_name, 
      REQUEST_CREATE_TIME, REQUEST_END_TIME, TYPE, 
      CREATE_USER, CREATE_TIME, CURRENCY, 
      EXCHANGE, balance, status, 
      creat_time, request_json)
    values (#{requestId,jdbcType=VARCHAR}, #{requestTitle,jdbcType=VARCHAR}, #{detailAccount,jdbcType=VARCHAR}, 
      #{requestCompanyCode,jdbcType=VARCHAR}, #{detailSubject,jdbcType=VARCHAR}, #{requestDept,jdbcType=VARCHAR}, 
      #{requestUser,jdbcType=VARCHAR}, #{requestTelphone,jdbcType=VARCHAR}, #{requestEmail,jdbcType=VARCHAR}, 
      #{requestInfo,jdbcType=VARCHAR}, #{requestDeptName,jdbcType=VARCHAR}, #{requestUserName,jdbcType=VARCHAR}, 
      #{requestUserNameCopy,jdbcType=VARCHAR}, #{financeUser,jdbcType=VARCHAR}, #{financeUserName,jdbcType=VARCHAR}, 
      #{requestCreateTime,jdbcType=VARCHAR}, #{requestEndTime,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{currency,jdbcType=VARCHAR}, 
      #{exchange,jdbcType=VARCHAR}, #{balance,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{creatTime,jdbcType=TIMESTAMP}, #{requestJson,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kuyu.model.pcms.PcmsProject">
    insert into pcms_project
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="requestId != null">
        REQUEST_ID,
      </if>
      <if test="requestTitle != null">
        REQUEST_TITLE,
      </if>
      <if test="detailAccount != null">
        DETAIL_ACCOUNT,
      </if>
      <if test="requestCompanyCode != null">
        REQUEST_COMPANY_CODE,
      </if>
      <if test="detailSubject != null">
        DETAIL_SUBJECT,
      </if>
      <if test="requestDept != null">
        REQUEST_DEPT,
      </if>
      <if test="requestUser != null">
        REQUEST_USER,
      </if>
      <if test="requestTelphone != null">
        REQUEST_TELPHONE,
      </if>
      <if test="requestEmail != null">
        REQUEST_EMAIL,
      </if>
      <if test="requestInfo != null">
        REQUEST_INFO,
      </if>
      <if test="requestDeptName != null">
        request_dept_name,
      </if>
      <if test="requestUserName != null">
        request_user_name,
      </if>
      <if test="requestUserNameCopy != null">
        request_user_name_copy,
      </if>
      <if test="financeUser != null">
        finance_user,
      </if>
      <if test="financeUserName != null">
        finance_user_name,
      </if>
      <if test="requestCreateTime != null">
        REQUEST_CREATE_TIME,
      </if>
      <if test="requestEndTime != null">
        REQUEST_END_TIME,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="createUser != null">
        CREATE_USER,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="currency != null">
        CURRENCY,
      </if>
      <if test="exchange != null">
        EXCHANGE,
      </if>
      <if test="balance != null">
        balance,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="creatTime != null">
        creat_time,
      </if>
      <if test="requestJson != null">
        request_json,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="requestId != null">
        #{requestId,jdbcType=VARCHAR},
      </if>
      <if test="requestTitle != null">
        #{requestTitle,jdbcType=VARCHAR},
      </if>
      <if test="detailAccount != null">
        #{detailAccount,jdbcType=VARCHAR},
      </if>
      <if test="requestCompanyCode != null">
        #{requestCompanyCode,jdbcType=VARCHAR},
      </if>
      <if test="detailSubject != null">
        #{detailSubject,jdbcType=VARCHAR},
      </if>
      <if test="requestDept != null">
        #{requestDept,jdbcType=VARCHAR},
      </if>
      <if test="requestUser != null">
        #{requestUser,jdbcType=VARCHAR},
      </if>
      <if test="requestTelphone != null">
        #{requestTelphone,jdbcType=VARCHAR},
      </if>
      <if test="requestEmail != null">
        #{requestEmail,jdbcType=VARCHAR},
      </if>
      <if test="requestInfo != null">
        #{requestInfo,jdbcType=VARCHAR},
      </if>
      <if test="requestDeptName != null">
        #{requestDeptName,jdbcType=VARCHAR},
      </if>
      <if test="requestUserName != null">
        #{requestUserName,jdbcType=VARCHAR},
      </if>
      <if test="requestUserNameCopy != null">
        #{requestUserNameCopy,jdbcType=VARCHAR},
      </if>
      <if test="financeUser != null">
        #{financeUser,jdbcType=VARCHAR},
      </if>
      <if test="financeUserName != null">
        #{financeUserName,jdbcType=VARCHAR},
      </if>
      <if test="requestCreateTime != null">
        #{requestCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="requestEndTime != null">
        #{requestEndTime,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="currency != null">
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="exchange != null">
        #{exchange,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="creatTime != null">
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="requestJson != null">
        #{requestJson,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kuyu.model.pcms.PcmsProjectExample" resultType="java.lang.Integer">
    select count(*) from pcms_project
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pcms_project
    <set>
      <if test="record.requestId != null">
        REQUEST_ID = #{record.requestId,jdbcType=VARCHAR},
      </if>
      <if test="record.requestTitle != null">
        REQUEST_TITLE = #{record.requestTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.detailAccount != null">
        DETAIL_ACCOUNT = #{record.detailAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.requestCompanyCode != null">
        REQUEST_COMPANY_CODE = #{record.requestCompanyCode,jdbcType=VARCHAR},
      </if>
      <if test="record.detailSubject != null">
        DETAIL_SUBJECT = #{record.detailSubject,jdbcType=VARCHAR},
      </if>
      <if test="record.requestDept != null">
        REQUEST_DEPT = #{record.requestDept,jdbcType=VARCHAR},
      </if>
      <if test="record.requestUser != null">
        REQUEST_USER = #{record.requestUser,jdbcType=VARCHAR},
      </if>
      <if test="record.requestTelphone != null">
        REQUEST_TELPHONE = #{record.requestTelphone,jdbcType=VARCHAR},
      </if>
      <if test="record.requestEmail != null">
        REQUEST_EMAIL = #{record.requestEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.requestInfo != null">
        REQUEST_INFO = #{record.requestInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.requestDeptName != null">
        request_dept_name = #{record.requestDeptName,jdbcType=VARCHAR},
      </if>
      <if test="record.requestUserName != null">
        request_user_name = #{record.requestUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.requestUserNameCopy != null">
        request_user_name_copy = #{record.requestUserNameCopy,jdbcType=VARCHAR},
      </if>
      <if test="record.financeUser != null">
        finance_user = #{record.financeUser,jdbcType=VARCHAR},
      </if>
      <if test="record.financeUserName != null">
        finance_user_name = #{record.financeUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.requestCreateTime != null">
        REQUEST_CREATE_TIME = #{record.requestCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="record.requestEndTime != null">
        REQUEST_END_TIME = #{record.requestEndTime,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        TYPE = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null">
        CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.currency != null">
        CURRENCY = #{record.currency,jdbcType=VARCHAR},
      </if>
      <if test="record.exchange != null">
        EXCHANGE = #{record.exchange,jdbcType=VARCHAR},
      </if>
      <if test="record.balance != null">
        balance = #{record.balance,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.creatTime != null">
        creat_time = #{record.creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.requestJson != null">
        request_json = #{record.requestJson,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update pcms_project
    set REQUEST_ID = #{record.requestId,jdbcType=VARCHAR},
      REQUEST_TITLE = #{record.requestTitle,jdbcType=VARCHAR},
      DETAIL_ACCOUNT = #{record.detailAccount,jdbcType=VARCHAR},
      REQUEST_COMPANY_CODE = #{record.requestCompanyCode,jdbcType=VARCHAR},
      DETAIL_SUBJECT = #{record.detailSubject,jdbcType=VARCHAR},
      REQUEST_DEPT = #{record.requestDept,jdbcType=VARCHAR},
      REQUEST_USER = #{record.requestUser,jdbcType=VARCHAR},
      REQUEST_TELPHONE = #{record.requestTelphone,jdbcType=VARCHAR},
      REQUEST_EMAIL = #{record.requestEmail,jdbcType=VARCHAR},
      REQUEST_INFO = #{record.requestInfo,jdbcType=VARCHAR},
      request_dept_name = #{record.requestDeptName,jdbcType=VARCHAR},
      request_user_name = #{record.requestUserName,jdbcType=VARCHAR},
      request_user_name_copy = #{record.requestUserNameCopy,jdbcType=VARCHAR},
      finance_user = #{record.financeUser,jdbcType=VARCHAR},
      finance_user_name = #{record.financeUserName,jdbcType=VARCHAR},
      REQUEST_CREATE_TIME = #{record.requestCreateTime,jdbcType=VARCHAR},
      REQUEST_END_TIME = #{record.requestEndTime,jdbcType=VARCHAR},
      TYPE = #{record.type,jdbcType=VARCHAR},
      CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CURRENCY = #{record.currency,jdbcType=VARCHAR},
      EXCHANGE = #{record.exchange,jdbcType=VARCHAR},
      balance = #{record.balance,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      creat_time = #{record.creatTime,jdbcType=TIMESTAMP},
      request_json = #{record.requestJson,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pcms_project
    set REQUEST_ID = #{record.requestId,jdbcType=VARCHAR},
      REQUEST_TITLE = #{record.requestTitle,jdbcType=VARCHAR},
      DETAIL_ACCOUNT = #{record.detailAccount,jdbcType=VARCHAR},
      REQUEST_COMPANY_CODE = #{record.requestCompanyCode,jdbcType=VARCHAR},
      DETAIL_SUBJECT = #{record.detailSubject,jdbcType=VARCHAR},
      REQUEST_DEPT = #{record.requestDept,jdbcType=VARCHAR},
      REQUEST_USER = #{record.requestUser,jdbcType=VARCHAR},
      REQUEST_TELPHONE = #{record.requestTelphone,jdbcType=VARCHAR},
      REQUEST_EMAIL = #{record.requestEmail,jdbcType=VARCHAR},
      REQUEST_INFO = #{record.requestInfo,jdbcType=VARCHAR},
      request_dept_name = #{record.requestDeptName,jdbcType=VARCHAR},
      request_user_name = #{record.requestUserName,jdbcType=VARCHAR},
      request_user_name_copy = #{record.requestUserNameCopy,jdbcType=VARCHAR},
      finance_user = #{record.financeUser,jdbcType=VARCHAR},
      finance_user_name = #{record.financeUserName,jdbcType=VARCHAR},
      REQUEST_CREATE_TIME = #{record.requestCreateTime,jdbcType=VARCHAR},
      REQUEST_END_TIME = #{record.requestEndTime,jdbcType=VARCHAR},
      TYPE = #{record.type,jdbcType=VARCHAR},
      CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CURRENCY = #{record.currency,jdbcType=VARCHAR},
      EXCHANGE = #{record.exchange,jdbcType=VARCHAR},
      balance = #{record.balance,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      creat_time = #{record.creatTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kuyu.model.pcms.PcmsProject">
    update pcms_project
    <set>
      <if test="requestTitle != null">
        REQUEST_TITLE = #{requestTitle,jdbcType=VARCHAR},
      </if>
      <if test="detailAccount != null">
        DETAIL_ACCOUNT = #{detailAccount,jdbcType=VARCHAR},
      </if>
      <if test="requestCompanyCode != null">
        REQUEST_COMPANY_CODE = #{requestCompanyCode,jdbcType=VARCHAR},
      </if>
      <if test="detailSubject != null">
        DETAIL_SUBJECT = #{detailSubject,jdbcType=VARCHAR},
      </if>
      <if test="requestDept != null">
        REQUEST_DEPT = #{requestDept,jdbcType=VARCHAR},
      </if>
      <if test="requestUser != null">
        REQUEST_USER = #{requestUser,jdbcType=VARCHAR},
      </if>
      <if test="requestTelphone != null">
        REQUEST_TELPHONE = #{requestTelphone,jdbcType=VARCHAR},
      </if>
      <if test="requestEmail != null">
        REQUEST_EMAIL = #{requestEmail,jdbcType=VARCHAR},
      </if>
      <if test="requestInfo != null">
        REQUEST_INFO = #{requestInfo,jdbcType=VARCHAR},
      </if>
      <if test="requestDeptName != null">
        request_dept_name = #{requestDeptName,jdbcType=VARCHAR},
      </if>
      <if test="requestUserName != null">
        request_user_name = #{requestUserName,jdbcType=VARCHAR},
      </if>
      <if test="requestUserNameCopy != null">
        request_user_name_copy = #{requestUserNameCopy,jdbcType=VARCHAR},
      </if>
      <if test="financeUser != null">
        finance_user = #{financeUser,jdbcType=VARCHAR},
      </if>
      <if test="financeUserName != null">
        finance_user_name = #{financeUserName,jdbcType=VARCHAR},
      </if>
      <if test="requestCreateTime != null">
        REQUEST_CREATE_TIME = #{requestCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="requestEndTime != null">
        REQUEST_END_TIME = #{requestEndTime,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        CREATE_USER = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="currency != null">
        CURRENCY = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="exchange != null">
        EXCHANGE = #{exchange,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        balance = #{balance,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="creatTime != null">
        creat_time = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="requestJson != null">
        request_json = #{requestJson,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where REQUEST_ID = #{requestId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.kuyu.model.pcms.PcmsProject">
    update pcms_project
    set REQUEST_TITLE = #{requestTitle,jdbcType=VARCHAR},
      DETAIL_ACCOUNT = #{detailAccount,jdbcType=VARCHAR},
      REQUEST_COMPANY_CODE = #{requestCompanyCode,jdbcType=VARCHAR},
      DETAIL_SUBJECT = #{detailSubject,jdbcType=VARCHAR},
      REQUEST_DEPT = #{requestDept,jdbcType=VARCHAR},
      REQUEST_USER = #{requestUser,jdbcType=VARCHAR},
      REQUEST_TELPHONE = #{requestTelphone,jdbcType=VARCHAR},
      REQUEST_EMAIL = #{requestEmail,jdbcType=VARCHAR},
      REQUEST_INFO = #{requestInfo,jdbcType=VARCHAR},
      request_dept_name = #{requestDeptName,jdbcType=VARCHAR},
      request_user_name = #{requestUserName,jdbcType=VARCHAR},
      request_user_name_copy = #{requestUserNameCopy,jdbcType=VARCHAR},
      finance_user = #{financeUser,jdbcType=VARCHAR},
      finance_user_name = #{financeUserName,jdbcType=VARCHAR},
      REQUEST_CREATE_TIME = #{requestCreateTime,jdbcType=VARCHAR},
      REQUEST_END_TIME = #{requestEndTime,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CURRENCY = #{currency,jdbcType=VARCHAR},
      EXCHANGE = #{exchange,jdbcType=VARCHAR},
      balance = #{balance,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      creat_time = #{creatTime,jdbcType=TIMESTAMP},
      request_json = #{requestJson,jdbcType=LONGVARCHAR}
    where REQUEST_ID = #{requestId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kuyu.model.pcms.PcmsProject">
    update pcms_project
    set REQUEST_TITLE = #{requestTitle,jdbcType=VARCHAR},
      DETAIL_ACCOUNT = #{detailAccount,jdbcType=VARCHAR},
      REQUEST_COMPANY_CODE = #{requestCompanyCode,jdbcType=VARCHAR},
      DETAIL_SUBJECT = #{detailSubject,jdbcType=VARCHAR},
      REQUEST_DEPT = #{requestDept,jdbcType=VARCHAR},
      REQUEST_USER = #{requestUser,jdbcType=VARCHAR},
      REQUEST_TELPHONE = #{requestTelphone,jdbcType=VARCHAR},
      REQUEST_EMAIL = #{requestEmail,jdbcType=VARCHAR},
      REQUEST_INFO = #{requestInfo,jdbcType=VARCHAR},
      request_dept_name = #{requestDeptName,jdbcType=VARCHAR},
      request_user_name = #{requestUserName,jdbcType=VARCHAR},
      request_user_name_copy = #{requestUserNameCopy,jdbcType=VARCHAR},
      finance_user = #{financeUser,jdbcType=VARCHAR},
      finance_user_name = #{financeUserName,jdbcType=VARCHAR},
      REQUEST_CREATE_TIME = #{requestCreateTime,jdbcType=VARCHAR},
      REQUEST_END_TIME = #{requestEndTime,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CURRENCY = #{currency,jdbcType=VARCHAR},
      EXCHANGE = #{exchange,jdbcType=VARCHAR},
      balance = #{balance,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      creat_time = #{creatTime,jdbcType=TIMESTAMP}
    where REQUEST_ID = #{requestId,jdbcType=VARCHAR}
  </update>
  
  
  
  <!-- ====================================生成sql结束============================================= -->
  <select id="getProjectDeatil" parameterType="string" resultType="com.kuyu.vo.pcms.PcmsProjectVo2">
  	<!--  SELECT
	a.REQUEST_ID AS requestId,
	a.REQUEST_TITLE AS requestTitle,
	a.TYPE,
	a.DETAIL_ACCOUNT AS detailAccount,
	a.request_user_name AS requestUserName,
	a.REQUEST_COMPANY_CODE AS requestCompanyCode,
	a.REQUEST_DEPT AS requestDept,
	a.finance_user_name AS financeUserName,
	a.DETAIL_SUBJECT AS detailSubject,
	a.REQUEST_CREATE_TIME AS requestCreateTime,
	a.REQUEST_END_TIME AS requestEndTime,
	b.SHOP_NAME AS shopName,
	b.SHOP_CRM_CODE AS shopCrmCode,
	b.SHOP_PROVINCE,
	b.SHOP_CITY,
	b.SHOP_COUNTY,
	b.SHOP_LEVEL,
	b.SHOP_BRANCH,
	b.SHOP_CHANNEL,
	b.SHOP_SALES_AMOUNT
FROM
	pcms_project a
LEFT JOIN pcms_shop b ON a.SHOP_CRM_CODE=b.SHOP_CRM_CODE
WHERE
	a.REQUEST_ID = #{requestId}-->
	SELECT
		a.REQUEST_ID AS requestId,
		a.REQUEST_TITLE AS requestTitle,
		a.REQUEST_COMPANY_CODE AS requestCompanyCode,
		a.request_dept_name AS requestDept,
		a.request_user_name AS requestUser,
		b.person_name  AS createUser,
		a.REQUEST_TELPHONE AS requestTelphone,
		a.REQUEST_EMAIL AS requestEmail,
		a.REQUEST_INFO AS requestInfo,
		a.REQUEST_CREATE_TIME AS requestCreateTime,
		a.REQUEST_END_TIME AS requestEndTime,
		a.TYPE AS type 
	FROM 
		pcms_project a 
	LEFT JOIN tpm_employee b ON a.CREATE_USER=b.person_code 
	WHERE
		a.REQUEST_ID = #{requestId} 
  </select>
  
  
  
   <resultMap id="projectDetail" type="com.kuyu.vo.pcms.ProjectDetailVo">
        <result column="detailChannel" property="detailChannel" />
        <result column="detailCost" property="detailCost" />
        <result column="detailWbs" property="detailWbs" />
        <result column="detailVendor" property="detailVendor" />
        <result column="detailSubject" property="detailSubject" />
        <result column="detailAccount" property="detailAccount" />
        <result column="detailId" property="detailId" />
        <result column="detailAmount" property="detailAmount" />
        <result column="detailStandard" property="detailStandard" />
        <result column="detailTask" property="detailTask" />
        <result column="detailMemo" property="detailMemo" />
        <collection column="detailId" javaType="java.util.ArrayList" ofType="com.kuyu.model.pcms.PcmsOthertm" property="CHILDREN3_LIST" select="getList3" />
        <collection column="detailId" javaType="java.util.ArrayList" ofType="com.kuyu.model.pcms.PcmsShowcase" property="CHILDREN1_LIST" select="getList1" />
   </resultMap>
  <select id="getDetailList" parameterType="string" resultMap="projectDetail">
		 SELECT 
			a.DETAIL_CHANNEL AS detailChannel,
			a.DETAIL_COST AS detailCost,
			a.DETAIL_WBS AS detailWbs,
			IFNULL(b.vendor_name,a.DETAIL_VENDOR) AS detailVendor,
			a.DETAIL_SUBJECT AS detailSubject,
			a.DETAIL_ACCOUNT AS detailAccount,
			a.DETAIL_ID AS detailId,
			a.DETAIL_AMOUNT AS detailAmount,
			a.DETAIL_STANDARD AS detailStandard,
			a.DETAIL_TASK AS detailTask,
			a.DETAIL_MEMO AS detailMemo
		FROM 
			pcms_project_deatil a 
		LEFT JOIN pcms_supplier b ON a.DETAIL_VENDOR=b.vendor_id 
		WHERE 
			REQUEST_ID = #{requestId}
  </select>
   <select id="getList3" parameterType="string" resultType="com.kuyu.model.pcms.PcmsOthertm">
	SELECT
		a.detail_id AS detailId,
		a.request_id AS requestId,
		a.vendor_id AS vendorId,
		a.mrname3,
		a.cost,
		a.unit,
		a.note,
		a.comparison_price AS comparisonPrice,
		a.specifications3,
		a.CHILDREN3_DETAIL AS children3Detail,
		a.CHILDREN3_VENDOR AS children3Vendor,
		a.CHILDREN3_BUILDTIME AS children3Buildtime,
		a.CHILDREN3_COUNT AS children3Count,
		a.CHILDREN3_PRICE AS children3Price,
		a.CHILDREN3_AMOUNT AS children3Amount,
		a.create_time AS createTime,
		a.otid
	FROM
		pcms_othertm_source AS a
	WHERE
		a.detail_id =#{detailId}
  </select>
   
  <select id="getList1" parameterType="string" resultType="com.kuyu.model.pcms.PcmsShowcase">
  SELECT
a.detail_id AS detailId,
a.resuest_id AS resuestId,
a.vendor_id AS vendorId,
a.CHILDREN1_TASK AS children1Task,
a.CHILDREN1_LAST_BUILDTIME AS children1LastBuildtime,
a.CHILDREN1_TYPE AS children1Type,
a.CHILDREN1_REASON AS children1Reason,
a.CHILDREN1_AREA AS children1Area,
a.CHILDREN1_LINEAR AS children1Linear,
a.CHILDREN1_BUILDTIME AS children1Buildtime,
a.CHILDREN1_VENDOR AS children1Vendor,
a.CHILDREN1_INNER AS children1Inner,
a.CHILDREN1_OUTER AS children1Outer,
a.CHILDREN1_AMOUNT AS children1Amount,
a.create_time AS createTime,
a.scid
FROM
pcms_showcase_source AS a
WHERE
a.detail_id =#{detailId}
  </select>
  
  
  
  <resultMap id="projectActivity" type="com.kuyu.vo.pcms.ActivityOriginalVo">
        <result column="project_id" property="projectId" />
        <result column="request_id" property="requestId" />
        <result column="vendor_id" property="vendorId" />
         <result column="vendor_name" property="vendorName" />
        <result column="project_name" property="projectName" />
        <result column="fee_detail_type" property="feeDetailType" />
        <result column="dept" property="dept" />
        <result column="deptName" property="deptName" />
        <result column="city" property="city" />
        <result column="cost_center" property="costCenter" />
        <result column="wbs" property="wbs" />
        <result column="order_no" property="orderNo" />
        <result column="total_fee" property="totalFee" />
        <result column="projected_sales_no" property="projectedSalesNo" />
        <result column="projected_sales_money" property="projectedSalesMoney" />
        <result column="estimated_cost_rate" property="estimatedCostRate" />
        <result column="note" property="note" />
        <collection column="project_id" javaType="java.util.ArrayList" ofType="com.kuyu.vo.pcms.MaterialResult" property="maList" select="getMaList" />
   </resultMap>
  
  <select id="getActivitylList" parameterType="string" resultMap="projectActivity">
		  	SELECT
		a.project_id,
		a.vendor_id,
		b.vendor_name,
		a.request_id,
		a.project_name,
		a.fee_detail_type,
		a.dept,
		c.org_name AS deptName,
		a.city,
		a.cost_center,
		a.wbs,
		a.order_no,
		a.total_fee,
		a.projected_sales_no,
		a.projected_sales_money,
		a.estimated_cost_rate,
		a.note
		FROM
		tpm_activity_original AS a
		LEFT JOIN pcms_supplier b ON a.vendor_id=b.vendor_id
		LEFT JOIN tpm_dept c ON a.dept=c.org_code
		WHERE
		a.request_id = #{requestId}
  </select>
  <select id="getMaList" parameterType="string" resultType="com.kuyu.vo.pcms.MaterialResult">
		  	SELECT
		a.mrid,
		a.mrtype,
		a.mrcode,
		a.mrname,
		a.cost,
		a.specifications,
		a.unit,
		a.unit_price AS unitPrice,
		a.number,
		a.comparison_price AS comparisonPrice,
		a.`status`,
		a.note
		FROM
		pcms_material_source AS a
		WHERE activity_id=#{project_id}
  </select>
  
  <select id="getShopList" parameterType="string" resultType="com.kuyu.model.pcms.PcmsShop">
		  	SELECT
		a.sid,
		a.REQUEST_ID AS requestId,
		a.SHOP_CRM_CODE AS shopCrmCode,
		a.SHOP_NAME AS shopName,
		a.SHOP_LEVEL AS shopLevel,
		a.SHOP_BRANCH AS shopBranch,
		a.SHOP_CUSTOMER AS shopCustomer,
		a.SHOP_CHANNEL AS shopChannel,
		a.SHOP_PROVINCE AS shopProvince,
		a.SHOP_CITY AS shopCity,
		a.SHOP_COUNTY AS shopCounty,
		a.DETAIL_TASK AS detailTask,
		a.SHOP_SALES_AMOUNT AS shopSalesAmount
		FROM
		pcms_shop AS a
		WHERE
		a.REQUEST_ID = #{requestId}
  </select>
  
  <select id="selectByEndTime" parameterType="string" resultMap="BaseResultMap">
  	SELECT
	*
FROM
	pcms_project
WHERE
	DATE_FORMAT(
		REQUEST_END_TIME,
		'%Y-%m-%d'
	) = #{synDate}
  </select>
  
  
  <select id="getSumMoney" parameterType="string" resultType="map">
  	SELECT
SUM(item_price) AS sumMoney,
	IFNULL(SUM(subclass),0) AS sumSubclass
FROM
	pcms_item
WHERE
	request_id = #{requestId}
  </select>
  
  <select id="queryDeptName" parameterType="string" resultType="string">
 	 SELECT org_name FROM tpm_dept WHERE org_code=#{requestDept}
  </select>
  
  <select id="queryUserName" parameterType="string" resultType="string">
	SELECT person_name FROM tpm_employee WHERE person_code =#{requestUser}
  </select>
  
</mapper>