<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuyu.mapper.pcms.PcmsPaymentDetailMapper">
  <resultMap id="BaseResultMap" type="com.kuyu.model.pcms.PcmsPaymentDetail">
    <result column="fssc_bill" jdbcType="VARCHAR" property="fsscBill" />
    <result column="financial_num" jdbcType="VARCHAR" property="financialNum" />
    <result column="financial_money" jdbcType="VARCHAR" property="financialMoney" />
    <result column="financial_status" jdbcType="VARCHAR" property="financialStatus" />
    <result column="financial_time" jdbcType="VARCHAR" property="financialTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    fssc_bill, financial_num, financial_money, financial_status, financial_time
  </sql>
  <select id="selectByExample" parameterType="com.kuyu.model.pcms.PcmsPaymentDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pcms_payment_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.kuyu.model.pcms.PcmsPaymentDetailExample">
    delete from pcms_payment_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kuyu.model.pcms.PcmsPaymentDetail">
    insert into pcms_payment_detail (fssc_bill, financial_num, financial_money, 
      financial_status, financial_time)
    values (#{fsscBill,jdbcType=VARCHAR}, #{financialNum,jdbcType=VARCHAR}, #{financialMoney,jdbcType=VARCHAR}, 
      #{financialStatus,jdbcType=VARCHAR}, #{financialTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kuyu.model.pcms.PcmsPaymentDetail">
    insert into pcms_payment_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fsscBill != null">
        fssc_bill,
      </if>
      <if test="financialNum != null">
        financial_num,
      </if>
      <if test="financialMoney != null">
        financial_money,
      </if>
      <if test="financialStatus != null">
        financial_status,
      </if>
      <if test="financialTime != null">
        financial_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fsscBill != null">
        #{fsscBill,jdbcType=VARCHAR},
      </if>
      <if test="financialNum != null">
        #{financialNum,jdbcType=VARCHAR},
      </if>
      <if test="financialMoney != null">
        #{financialMoney,jdbcType=VARCHAR},
      </if>
      <if test="financialStatus != null">
        #{financialStatus,jdbcType=VARCHAR},
      </if>
      <if test="financialTime != null">
        #{financialTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kuyu.model.pcms.PcmsPaymentDetailExample" resultType="java.lang.Integer">
    select count(*) from pcms_payment_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pcms_payment_detail
    <set>
      <if test="record.fsscBill != null">
        fssc_bill = #{record.fsscBill,jdbcType=VARCHAR},
      </if>
      <if test="record.financialNum != null">
        financial_num = #{record.financialNum,jdbcType=VARCHAR},
      </if>
      <if test="record.financialMoney != null">
        financial_money = #{record.financialMoney,jdbcType=VARCHAR},
      </if>
      <if test="record.financialStatus != null">
        financial_status = #{record.financialStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.financialTime != null">
        financial_time = #{record.financialTime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pcms_payment_detail
    set fssc_bill = #{record.fsscBill,jdbcType=VARCHAR},
      financial_num = #{record.financialNum,jdbcType=VARCHAR},
      financial_money = #{record.financialMoney,jdbcType=VARCHAR},
      financial_status = #{record.financialStatus,jdbcType=VARCHAR},
      financial_time = #{record.financialTime,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
 
 
</mapper>