<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuyu.mapper.pcms.PcmsSupplierInvoiceMapper">

    <insert id="insertPcmsSupplierInvoice" parameterType="com.kuyu.model.pcms.PcmsSupplierInvoiceModel" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		pcms_supplier_invoice(itid,vendor_id,type,invoice_code,invoice_no,invoice_price,tax,create_time)
		VALUES
		(#{itid},#{vendor_id},#{type},#{invoice_code},#{invoice_no},#{invoice_price},#{tax},SYSDATE())
	</insert>


	<select id="selectByItid" resultType="com.kuyu.vo.pcms.SupplierInvoiceVo">
		SELECT
		t.invoice_code,
		t.invoice_no,
		t.invoice_price,
		t.id,
		t.tax,
		t.type
		FROM pcms_supplier_invoice t
		<where>
			t.itid = #{itid}
		</where>
	</select>

	<select id="selectByInvoiceId" resultType="com.kuyu.vo.pcms.SupplierInvoiceImageVo">
		SELECT
		t.id,
		t.image,
		t.invoice_id
		FROM pcms_invoice_image t
		<where>
			t.invoice_id = #{invoice_id}
		</where>
	</select>
</mapper>