<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuyu.mapper.pcms.PcmsSettlementMapper">
  <resultMap id="BaseResultMap" type="com.kuyu.model.pcms.PcmsSettlement">
    <id column="seid" jdbcType="INTEGER" property="seid" />
    <result column="sett_number" jdbcType="VARCHAR" property="settNumber" />
    <result column="application_title" jdbcType="VARCHAR" property="applicationTitle" />
    <result column="company_code" jdbcType="VARCHAR" property="companyCode" />
    <result column="request_user" jdbcType="VARCHAR" property="requestUser" />
    <result column="dept" jdbcType="VARCHAR" property="dept" />
    <result column="application_notes" jdbcType="VARCHAR" property="applicationNotes" />
    <result column="pay_type" jdbcType="INTEGER" property="payType" />
    <result column="tax_number" jdbcType="VARCHAR" property="taxNumber" />
    <result column="sum_money" jdbcType="VARCHAR" property="sumMoney" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="fccs_bill" jdbcType="VARCHAR" property="fccsBill" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    seid, sett_number, application_title, company_code, request_user, dept, application_notes, 
    pay_type, tax_number, sum_money, status, fccs_bill, update_time, create_time
  </sql>
  <select id="selectByExample" parameterType="com.kuyu.model.pcms.PcmsSettlementExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pcms_settlement
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pcms_settlement
    where seid = #{seid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pcms_settlement
    where seid = #{seid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kuyu.model.pcms.PcmsSettlementExample">
    delete from pcms_settlement
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kuyu.model.pcms.PcmsSettlement">
    insert into pcms_settlement (seid, sett_number, application_title, 
      company_code, request_user, dept, 
      application_notes, pay_type, tax_number, 
      sum_money, status, fccs_bill, 
      update_time, create_time)
    values (#{seid,jdbcType=INTEGER}, #{settNumber,jdbcType=VARCHAR}, #{applicationTitle,jdbcType=VARCHAR}, 
      #{companyCode,jdbcType=VARCHAR}, #{requestUser,jdbcType=VARCHAR}, #{dept,jdbcType=VARCHAR}, 
      #{applicationNotes,jdbcType=VARCHAR}, #{payType,jdbcType=INTEGER}, #{taxNumber,jdbcType=VARCHAR}, 
      #{sumMoney,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{fccsBill,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kuyu.model.pcms.PcmsSettlement">
    insert into pcms_settlement
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="seid != null">
        seid,
      </if>
      <if test="settNumber != null">
        sett_number,
      </if>
      <if test="applicationTitle != null">
        application_title,
      </if>
      <if test="companyCode != null">
        company_code,
      </if>
      <if test="requestUser != null">
        request_user,
      </if>
      <if test="dept != null">
        dept,
      </if>
      <if test="applicationNotes != null">
        application_notes,
      </if>
      <if test="payType != null">
        pay_type,
      </if>
      <if test="taxNumber != null">
        tax_number,
      </if>
      <if test="sumMoney != null">
        sum_money,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="fccsBill != null">
        fccs_bill,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="seid != null">
        #{seid,jdbcType=INTEGER},
      </if>
      <if test="settNumber != null">
        #{settNumber,jdbcType=VARCHAR},
      </if>
      <if test="applicationTitle != null">
        #{applicationTitle,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null">
        #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="requestUser != null">
        #{requestUser,jdbcType=VARCHAR},
      </if>
      <if test="dept != null">
        #{dept,jdbcType=VARCHAR},
      </if>
      <if test="applicationNotes != null">
        #{applicationNotes,jdbcType=VARCHAR},
      </if>
      <if test="payType != null">
        #{payType,jdbcType=INTEGER},
      </if>
      <if test="taxNumber != null">
        #{taxNumber,jdbcType=VARCHAR},
      </if>
      <if test="sumMoney != null">
        #{sumMoney,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="fccsBill != null">
        #{fccsBill,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kuyu.model.pcms.PcmsSettlementExample" resultType="java.lang.Integer">
    select count(*) from pcms_settlement
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pcms_settlement
    <set>
      <if test="record.seid != null">
        seid = #{record.seid,jdbcType=INTEGER},
      </if>
      <if test="record.settNumber != null">
        sett_number = #{record.settNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.applicationTitle != null">
        application_title = #{record.applicationTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.companyCode != null">
        company_code = #{record.companyCode,jdbcType=VARCHAR},
      </if>
      <if test="record.requestUser != null">
        request_user = #{record.requestUser,jdbcType=VARCHAR},
      </if>
      <if test="record.dept != null">
        dept = #{record.dept,jdbcType=VARCHAR},
      </if>
      <if test="record.applicationNotes != null">
        application_notes = #{record.applicationNotes,jdbcType=VARCHAR},
      </if>
      <if test="record.payType != null">
        pay_type = #{record.payType,jdbcType=INTEGER},
      </if>
      <if test="record.taxNumber != null">
        tax_number = #{record.taxNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.sumMoney != null">
        sum_money = #{record.sumMoney,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.fccsBill != null">
        fccs_bill = #{record.fccsBill,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pcms_settlement
    set seid = #{record.seid,jdbcType=INTEGER},
      sett_number = #{record.settNumber,jdbcType=VARCHAR},
      application_title = #{record.applicationTitle,jdbcType=VARCHAR},
      company_code = #{record.companyCode,jdbcType=VARCHAR},
      request_user = #{record.requestUser,jdbcType=VARCHAR},
      dept = #{record.dept,jdbcType=VARCHAR},
      application_notes = #{record.applicationNotes,jdbcType=VARCHAR},
      pay_type = #{record.payType,jdbcType=INTEGER},
      tax_number = #{record.taxNumber,jdbcType=VARCHAR},
      sum_money = #{record.sumMoney,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      fccs_bill = #{record.fccsBill,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kuyu.model.pcms.PcmsSettlement">
    update pcms_settlement
    <set>
      <if test="settNumber != null">
        sett_number = #{settNumber,jdbcType=VARCHAR},
      </if>
      <if test="applicationTitle != null">
        application_title = #{applicationTitle,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null">
        company_code = #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="requestUser != null">
        request_user = #{requestUser,jdbcType=VARCHAR},
      </if>
      <if test="dept != null">
        dept = #{dept,jdbcType=VARCHAR},
      </if>
      <if test="applicationNotes != null">
        application_notes = #{applicationNotes,jdbcType=VARCHAR},
      </if>
      <if test="payType != null">
        pay_type = #{payType,jdbcType=INTEGER},
      </if>
      <if test="taxNumber != null">
        tax_number = #{taxNumber,jdbcType=VARCHAR},
      </if>
      <if test="sumMoney != null">
        sum_money = #{sumMoney,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="fccsBill != null">
        fccs_bill = #{fccsBill,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where seid = #{seid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kuyu.model.pcms.PcmsSettlement">
    update pcms_settlement
    set sett_number = #{settNumber,jdbcType=VARCHAR},
      application_title = #{applicationTitle,jdbcType=VARCHAR},
      company_code = #{companyCode,jdbcType=VARCHAR},
      request_user = #{requestUser,jdbcType=VARCHAR},
      dept = #{dept,jdbcType=VARCHAR},
      application_notes = #{applicationNotes,jdbcType=VARCHAR},
      pay_type = #{payType,jdbcType=INTEGER},
      tax_number = #{taxNumber,jdbcType=VARCHAR},
      sum_money = #{sumMoney,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      fccs_bill = #{fccsBill,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where seid = #{seid,jdbcType=INTEGER}
  </update>
 
 <!-- ==========================================自定义SQL===================================================== -->
<resultMap id="SettlementDetailMap" type="com.kuyu.vo.pcms.SettlementDetailResult">
 	<result column="seid" jdbcType="INTEGER" property="seid" />
 	<result column="sett_number" jdbcType="VARCHAR" property="settlementNumber" />
    <result column="application_title" jdbcType="VARCHAR" property="applyTitle" />
    <result column="application_notes" jdbcType="VARCHAR" property="applyNote" />
    <result column="request_user" jdbcType="VARCHAR" property="requestUser" />
    <result column="person_name" jdbcType="VARCHAR" property="requestUserName" />
    <result column="account_number" jdbcType="VARCHAR" property="openingAccount" />
    <result column="payee_name" jdbcType="VARCHAR" property="openingBank" />
    <result column="vendor_id" jdbcType="VARCHAR" property="vendorId" />
    <result column="vendor_name" jdbcType="VARCHAR" property="vendorName" />
    <result column="pay_type" jdbcType="INTEGER" property="type" />
    <result column="company_code" jdbcType="VARCHAR" property="companyCode" />
    <result column="sum_money" jdbcType="VARCHAR" property="applyMoney" />
    <collection property="itemList" ofType="com.kuyu.vo.pcms.SettlementItemResult" javaType="java.util.ArrayList" 
    select="getSettlementItemResult" column="sett_number"/>
</resultMap> 
 <select id="getSettlementDetail" parameterType="string" resultMap="SettlementDetailMap">
 	SELECT
	a.seid,
	a.sett_number,
	a.application_title,
	a.application_notes,
	a.request_user,
	b.person_name,
	c.account_number,
	c.payee_name,
	c.vendor_id,
	d.vendor_name,
	a.pay_type,
	a.company_code,
	a.sum_money
FROM
	pcms_settlement a
LEFT JOIN tpm_employee b ON a.request_user=b.person_code
LEFT JOIN pcms_payment c ON c.fssc_bill=a.fccs_bill
LEFT JOIN pcms_supplier d on c.vendor_id=d.vendor_id
WHERE a.sett_number=#{settNumber}
 </select>
 
 <select id="getSettlementItemResult" parameterType="string" resultType="com.kuyu.vo.pcms.SettlementItemResult">
SELECT
	a.setid,
	a.itid,
	b.item_number  AS itemNumber,
	a.sedetail_memo AS sedetailMemo,
	c.DETAIL_ACCOUNT AS detailAccount,
	c.DETAIL_COST AS detailCost,
	c.DETAIL_CHANNEL AS detailChannel,
	a.tax_type AS taxType,
	a.invoice_number AS invoiceNumber,
	a.sedetail_money AS sedetailMoney,
	a.is_last AS isLast
FROM
	pcms_settlement_item a
LEFT JOIN pcms_item b ON a.itid=b.itid 
LEFT JOIN pcms_project_deatil c ON b.detail_id=c.DETAIL_ID
WHERE a.settlement_number=#{settNumber}
 </select>

  <!-- =========================================自定义SQL==================================================== -->

  <!-- 根据供应商统计上月的对账信息 -->
  <select id="selectByTime" resultType="com.kuyu.vo.pcms.PcmsSettlementVo">
    /*SELECT t.pmid,
    t.vendor_id,
    psc.`company`,
    ps.vendor_name
    FROM pcms_payment t
    LEFT JOIN pcms_supplier ps ON ps.vendor_id = t.vendor_id
    LEFT JOIN pcms_payment_detail ppd ON ppd.fssc_bill = t.fssc_bill
    LEFT JOIN pcms_supplier_company psc ON psc.vendor_id = ps.vendor_id
    LEFT JOIN pcms_initialization pitt ON pitt.vendor_id = psc.vendor_id AND psc.company = pitt.company
    WHERE DATE_FORMAT(t.recomment_date,'%Y-%m')=DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH),'%Y-%m')
    OR DATE_FORMAT(ppd.financial_time,'%Y-%m')=DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH),'%Y-%m')
	AND ppd.`financial_status`= 8 OR (DATE_FORMAT(pitt.month,'%Y-%m')=DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH),'%Y-%m')
	AND pitt.initial_balance != 0 OR pitt.balance != 0 OR pitt.pay_amount !=0 OR pitt.financial_money !=0)
    GROUP BY t.vendor_id,psc.company	-- or (DATE_FORMAT(pitt.month,'%Y-%m')=DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH),'%Y-%m')
	-- AND pitt.initial_balance != 0 or pitt.balance != 0 or pitt.pay_amount !=0 or pitt.financial_money !=0)  --
	left join pcms_initialization pitt on pitt.vendor_id = psc.vendor_id and psc.company = pitt.company*/
        SELECT t.pmid,
    t.vendor_id,
    psc.`company`,
    ps.vendor_name
    FROM pcms_payment t
    LEFT JOIN pcms_supplier ps ON ps.vendor_id = t.vendor_id
    LEFT JOIN pcms_payment_detail ppd ON ppd.fssc_bill = t.fssc_bill
    LEFT JOIN pcms_supplier_company psc ON psc.vendor_id = ps.vendor_id
    WHERE DATE_FORMAT(t.recomment_date,'%Y-%m')=DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH),'%Y-%m')
    OR DATE_FORMAT(ppd.financial_time,'%Y-%m')=DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH),'%Y-%m')
	AND ppd.`financial_status`= 8
    GROUP BY t.vendor_id,psc.company
    UNION
    SELECT
    t.pmid,
    pitt.vendor_id,
    psc.`company`,
    ps.vendor_name FROM
    pcms_initialization pitt
    LEFT JOIN pcms_supplier_company psc ON pitt.vendor_id = psc.vendor_id AND psc.company = pitt.company
    LEFT JOIN pcms_supplier ps ON ps.vendor_id = psc.vendor_id
    LEFT JOIN pcms_payment t ON t.`vendor_id` = pitt.vendor_id
    WHERE (DATE_FORMAT('${time}','%Y-%m')=DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH),'%Y-%m')
	AND (pitt.initial_balance != 0 OR pitt.balance != 0 OR pitt.pay_amount !=0 OR pitt.financial_money !=0)) GROUP BY pitt.vendor_id,pitt.company
  </select>
  <!-- 根据供应商ID查询上个月的付款信息 -->
  <select id="selectPaymentByVendorId" resultType="com.kuyu.vo.pcms.PcmsSettlementVo">
    SELECT t.pmid,t.fssc_bill
    FROM pcms_payment t
    LEFT JOIN pcms_payment_detail ppd ON ppd.fssc_bill = t.fssc_bill
    WHERE (DATE_FORMAT(t.recomment_date,'%Y-%m')=DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH),'%Y-%m')
    OR DATE_FORMAT(ppd.financial_time,'%Y-%m')=DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH),'%Y-%m') )
    and t.vendor_id = #{vendor_id,jdbcType=VARCHAR}
    AND ppd.financial_status=8
  </select>

  <!-- 根据供应商ID查询上个月的付款信息 -->
  <select id="selectByVendorId" resultType="com.kuyu.vo.pcms.PcmsSettlementVo">
    SELECT t.`vendor_id` FROM `pcms_supplier_user` t WHERE t.vendor_id = = #{vendor_id,jdbcType=VARCHAR}
  </select>
  
  
  <select id="selectByFsscBill" parameterType="string" resultMap="BaseResultMap">
  	SELECT
	*
FROM
	pcms_settlement
WHERE
	fccs_bill = #{fsscBill}
  	
  
  </select>
  
</mapper>