<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuyu.mapper.pcms.PcmsMessageMapper">



    <select id="selectByVendorId" resultType="com.kuyu.model.pcms.PcmsMessageModel">
        SELECT
        pm.id,
        pm.vendor_id,
        pm.state,
        pm.create_time,
        pm.type,
        pm.context,
        pm.company,
        pm.other_id
        FROM pcms_supplier_user psu
        LEFT JOIN pcms_message pm ON psu.vendor_id = pm.vendor_id
        <where>
            <if test="openid !=null and openid !=''">
                and psu.openid = #{openid}
            </if>
        </where>
        order by pm.create_time
    </select>

</mapper>