<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuyu.mapper.pcms.PcmsReconciliationMapper">

    <insert id="insertReconciliation" parameterType="com.kuyu.model.pcms.PcmsReconciliationModel" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		pcms_reconciliation(vendor_id,vendor_name,month,state,reconciliation_id,create_time,company,type)
		VALUES
		(#{vendor_id},#{vendor_name},#{month},#{state},#{reconciliation_id},#{create_time},#{company},#{type})
	</insert>

	<select id="findListPage" resultType="com.kuyu.vo.ReconciliationVo">
		SELECT
		t.id,
		t.vendor_id,
		t.vendor_name,
		t.month,
		t.state,
		t.reconciliation_id,
		t.type,
		t.create_time
		FROM
		pcms_reconciliation t
		LEFT JOIN pcms_supplier_company psc ON psc.vendor_id = t.vendor_id
		<where>
			<if test="params.vendor_name !=null and params.vendor_name !=''">
				and t.vendor_name LIKE '%${params.vendor_name}%'
			</if>
			<if test="params.state !=null and params.state !=''">
				and t.state = #{params.state}
			</if>
<!--			<if test="params.start_time !=null and params.start_time !=''">
				AND DATE_FORMAT(t.create_time,'%Y-%m-%d') BETWEEN #{params.start_time} AND #{params.end_time}
			</if>-->
			<if test="params.month !=null and params.month !=''">
				AND t.month = #{params.month}
			</if>
				and psc.company = #{params.company}
		</where>
	</select>


	<select id="selectCurrentDetail" resultType="com.kuyu.vo.pcms.CurrentDetailModelVo">
		<!-- SELECT
		pp.fssc_bill,
		pp.pay_amount AS increase_amount,
		pr.id AS pcms_reconciliation_id,
		ppd1.financial_time AS create_date,
		IFNULL(
		(SELECT SUM(ppd.`financial_money`)
		FROM pcms_payment_detail ppd WHERE ppd.fssc_bill = pp.fssc_bill
		AND (ppd.financial_status = 8
		AND DATE_FORMAT(ppd.financial_time,'%Y-%m')=DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH),'%Y-%m')))
		,0)AS pay_amount,
		pp.`recomment_date` AS pr_time FROM
		pcms_reconciliation pr
		LEFT JOIN pcms_payment pp ON pp.vendor_id = pr.vendor_id
		LEFT JOIN pcms_payment_detail ppd1 ON ppd1.fssc_bill = pp.fssc_bill -->
		SELECT
		pp.fssc_bill,
		pp.pay_amount AS increase_amount,
		pr.id AS pcms_reconciliation_id,
		(SELECT ppd2.`financial_time`
		FROM pcms_payment_detail ppd2
		WHERE ppd2.fssc_bill = pp.fssc_bill
		AND (ppd2.financial_status = 8 AND DATE_FORMAT(ppd2.financial_time,'%Y-%m')=DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH),'%Y-%m')) GROUP BY pp.fssc_bill ) AS  create_date,
		IFNULL( (SELECT SUM(ppd.`financial_money`)
		FROM pcms_payment_detail ppd
		WHERE ppd.fssc_bill = pp.fssc_bill
		AND (ppd.financial_status = 8 AND DATE_FORMAT(ppd.financial_time,'%Y-%m')=DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH),'%Y-%m'))) ,0)AS pay_amount,
		pp.`recomment_date` AS pr_time
		FROM pcms_reconciliation pr
		LEFT JOIN pcms_payment pp ON pp.vendor_id = pr.vendor_id
		LEFT JOIN pcms_payment_detail ppd1 ON ppd1.fssc_bill = pp.fssc_bill
		<where>
			<if test="id !=null and id !=''">
				pr.id = #{id}
			</if>
		</where>
		AND(
		DATE_FORMAT(pp.create_time,'%Y-%m')=DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH),'%Y-%m')
		OR DATE_FORMAT(ppd1.financial_time,'%Y-%m')=DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH),'%Y-%m')
		)
		GROUP BY pp.fssc_bill
	</select>

	<select id="selectCurrent" resultType="com.kuyu.vo.pcms.CurrentDetailModelVo">
		SELECT
		pr.fssc_bill,
		pr.increase_amount as increase_amount,
		pr.pay_amount as pay_amount,
		pr.create_date as create_date,
		pr.balance as balance,
		pr.pcms_reconciliation_id as pcms_reconciliation_id,
		pr.id
		FROM pcms_current_detail pr
		<where>
			<if test="id !=null and id !=''">
				pr.pcms_reconciliation_id = #{id}
			</if>
		</where>
		ORDER BY pr.create_date
	</select>

	<select id="selectByFssc" resultType="com.kuyu.vo.pcms.PcmsPaymentDetailVo">
		SELECT
		ppd.financial_time as financialTime
		FROM pcms_payment_detail ppd
		<where>
		  <if test="fsscBill !=null and fsscBill !=''">
			ppd.fssc_bill=#{fsscBill,jdbcType=VARCHAR}
		  </if>
			AND ppd.financial_status = 8
			OR DATE_FORMAT(ppd.financial_time,'%Y-%m')=DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH),'%Y-%m')
		</where>
		ORDER BY ppd.financial_time DESC LIMIT 0,1
	</select>

	<select id="selectByReconciliationId" resultType="com.kuyu.vo.pcms.PcmsReconciliationVo">
		SELECT   pr.id AS pcms_reconciliation_id,
		pr.month,
		pr.vendor_name,
		SUM(pcd.increase_amount) AS increase_amount,
		SUM(pcd.pay_amount) AS  pay_amount
		FROM pcms_reconciliation pr
		LEFT JOIN pcms_current_detail pcd ON pr.id = pcd.pcms_reconciliation_id
		<where>
			<if test="id !=null and id !=''">
				pr.id = #{id,jdbcType=INTEGER}
			</if>
		</where>
	</select>

	<select id="selectByState" resultType="com.kuyu.model.pcms.PcmsReconciliationModel">
		SELECT
		t.id,
		t.vendor_id,
		t.vendor_name,
		t.month,
		t.state,
		t.create_time
		FROM
		pcms_reconciliation t
		LEFT JOIN pcms_supplier_company psc ON psc.vendor_id = t.vendor_id
<!--		<where>
			DATE_FORMAT(t.create_time,'%Y-%m')=DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 2 MONTH),'%Y-%m')

		</where>-->
		<where>
			<if test="month !=null and month !=''">
				t.month = #{month}
			</if>
		</where>
		AND t.state=0 and t.type=0
	</select>

	<select id="selectDetailList" resultType="com.kuyu.vo.pcms.DetailListVo">
		SELECT
		ptm.update_time AS create_time,
		ps.sett_number AS sett_number,
		pr.id AS pcms_reconciliation_id,
		IFNULL(ptm.subclass,ptm.item_price) AS price,
		(CASE WHEN ps.status = 1 THEN ps.status ELSE ptm.status END) AS state
		FROM pcms_reconciliation pr
		LEFT JOIN pcms_payment pp ON pp.vendor_id = pr.vendor_id
		LEFT JOIN pcms_settlement ps ON ps.fccs_bill = pp.fssc_bill
		LEFT JOIN pcms_settlement_item psi ON psi.settlement_number = ps.sett_number
		LEFT JOIN pcms_item ptm ON ptm.itid = psi.itid
		<where>
			AND pr.id = #{id}
		</where>
		 and ptm.status = 3 OR ps.status = 1 GROUP BY ptm.itid
	</select>


	<select id="selectByMonth" resultType="com.kuyu.vo.ReconciliationVo">
		SELECT
		t.id,
		t.vendor_id,
		t.vendor_name,
		t.month,
		t.state,
		t.reconciliation_id,
		t.create_time
		FROM
		pcms_reconciliation t
		<where>
			<if test="month !=null and month !=''">
				AND t.month = #{month}
			</if>
		</where>
	</select>

	<select id="selectPendingMaterial" resultType="com.kuyu.vo.pcms.PendingMaterialDetailVo">
		SELECT
		ppm.category AS category,
		ppm.specifications AS specifications,
		ppm.itid AS itid,
		ppm.all_price AS all_price,
		ppm.number AS number,
		ppm.comparison_price AS comparison_price,
		ptm.request_id AS request_id
		FROM pcms_pending_material ppm
		LEFT JOIN pcms_settlement_item psi ON ppm.itid = psi.itid
		LEFT JOIN pcms_settlement ps ON psi.settlement_number = ps.sett_number
		LEFT JOIN pcms_payment pp ON ps.fccs_bill = pp.fssc_bill
		LEFT JOIN pcms_reconciliation pr ON pp.vendor_id = pr.vendor_id
		LEFT JOIN pcms_item ptm ON ptm.itid = ppm.itid
		<where>
			<if test="id !=null and id !=''">
				and pr.id = #{id}
			</if>
		</where>
	</select>

	<select id="selectPendingMaterialList" resultType="com.kuyu.vo.pcms.PendingMaterialDetailVo">
		SELECT
		ppm.category AS category,
		ppm.specifications AS specifications,
		ppm.itid AS itid,
		ppm.all_price AS all_price,
		ppm.number AS number,
		ppm.comparison_price AS comparison_price,
		ptm.request_id AS request_id
		FROM pcms_pending_material ppm
		LEFT JOIN pcms_settlement_item psi ON ppm.itid = psi.itid
		LEFT JOIN pcms_settlement ps ON psi.settlement_number = ps.sett_number
		LEFT JOIN pcms_payment pp ON ps.fccs_bill = pp.fssc_bill
		LEFT JOIN pcms_reconciliation pr ON pp.vendor_id = pr.vendor_id
		LEFT JOIN pcms_item ptm ON ptm.itid = ppm.itid
		<where>
			<if test="id !=null and id !=''">
				and pr.id = #{id}
			</if>
		</where>
		group by ptm.request_id
	</select>
</mapper>