<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuyu.mapper.pcms.PcmsSettlementItemMapper">
  <resultMap id="BaseResultMap" type="com.kuyu.model.pcms.PcmsSettlementItem">
    <id column="setid" jdbcType="INTEGER" property="setid" />
    <result column="itid" jdbcType="INTEGER" property="itid" />
    <result column="sedetail_id" jdbcType="VARCHAR" property="sedetailId" />
    <result column="sedetail_money" jdbcType="VARCHAR" property="sedetailMoney" />
    <result column="sedetail_memo" jdbcType="VARCHAR" property="sedetailMemo" />
    <result column="tax_type" jdbcType="VARCHAR" property="taxType" />
    <result column="invoice_number" jdbcType="VARCHAR" property="invoiceNumber" />
    <result column="tax_rate" jdbcType="VARCHAR" property="taxRate" />
    <result column="is_last" jdbcType="INTEGER" property="isLast" />
    <result column="settlement_number" jdbcType="VARCHAR" property="settlementNumber" />
    <result column="fssc_bill" jdbcType="VARCHAR" property="fsscBill" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    setid, itid, sedetail_id, sedetail_money, sedetail_memo, tax_type, invoice_number, 
    tax_rate, is_last, settlement_number, fssc_bill, create_time
  </sql>
  <select id="selectByExample" parameterType="com.kuyu.model.pcms.PcmsSettlementItemExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pcms_settlement_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pcms_settlement_item
    where setid = #{setid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pcms_settlement_item
    where setid = #{setid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kuyu.model.pcms.PcmsSettlementItemExample">
    delete from pcms_settlement_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kuyu.model.pcms.PcmsSettlementItem">
    insert into pcms_settlement_item (setid, itid, sedetail_id, 
      sedetail_money, sedetail_memo, tax_type, 
      invoice_number, tax_rate, is_last, 
      settlement_number, fssc_bill, create_time
      )
    values (#{setid,jdbcType=INTEGER}, #{itid,jdbcType=INTEGER}, #{sedetailId,jdbcType=VARCHAR}, 
      #{sedetailMoney,jdbcType=VARCHAR}, #{sedetailMemo,jdbcType=VARCHAR}, #{taxType,jdbcType=VARCHAR}, 
      #{invoiceNumber,jdbcType=VARCHAR}, #{taxRate,jdbcType=VARCHAR}, #{isLast,jdbcType=INTEGER}, 
      #{settlementNumber,jdbcType=VARCHAR}, #{fsscBill,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kuyu.model.pcms.PcmsSettlementItem">
    insert into pcms_settlement_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="setid != null">
        setid,
      </if>
      <if test="itid != null">
        itid,
      </if>
      <if test="sedetailId != null">
        sedetail_id,
      </if>
      <if test="sedetailMoney != null">
        sedetail_money,
      </if>
      <if test="sedetailMemo != null">
        sedetail_memo,
      </if>
      <if test="taxType != null">
        tax_type,
      </if>
      <if test="invoiceNumber != null">
        invoice_number,
      </if>
      <if test="taxRate != null">
        tax_rate,
      </if>
      <if test="isLast != null">
        is_last,
      </if>
      <if test="settlementNumber != null">
        settlement_number,
      </if>
      <if test="fsscBill != null">
        fssc_bill,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="setid != null">
        #{setid,jdbcType=INTEGER},
      </if>
      <if test="itid != null">
        #{itid,jdbcType=INTEGER},
      </if>
      <if test="sedetailId != null">
        #{sedetailId,jdbcType=VARCHAR},
      </if>
      <if test="sedetailMoney != null">
        #{sedetailMoney,jdbcType=VARCHAR},
      </if>
      <if test="sedetailMemo != null">
        #{sedetailMemo,jdbcType=VARCHAR},
      </if>
      <if test="taxType != null">
        #{taxType,jdbcType=VARCHAR},
      </if>
      <if test="invoiceNumber != null">
        #{invoiceNumber,jdbcType=VARCHAR},
      </if>
      <if test="taxRate != null">
        #{taxRate,jdbcType=VARCHAR},
      </if>
      <if test="isLast != null">
        #{isLast,jdbcType=INTEGER},
      </if>
      <if test="settlementNumber != null">
        #{settlementNumber,jdbcType=VARCHAR},
      </if>
      <if test="fsscBill != null">
        #{fsscBill,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kuyu.model.pcms.PcmsSettlementItemExample" resultType="java.lang.Integer">
    select count(*) from pcms_settlement_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pcms_settlement_item
    <set>
      <if test="record.setid != null">
        setid = #{record.setid,jdbcType=INTEGER},
      </if>
      <if test="record.itid != null">
        itid = #{record.itid,jdbcType=INTEGER},
      </if>
      <if test="record.sedetailId != null">
        sedetail_id = #{record.sedetailId,jdbcType=VARCHAR},
      </if>
      <if test="record.sedetailMoney != null">
        sedetail_money = #{record.sedetailMoney,jdbcType=VARCHAR},
      </if>
      <if test="record.sedetailMemo != null">
        sedetail_memo = #{record.sedetailMemo,jdbcType=VARCHAR},
      </if>
      <if test="record.taxType != null">
        tax_type = #{record.taxType,jdbcType=VARCHAR},
      </if>
      <if test="record.invoiceNumber != null">
        invoice_number = #{record.invoiceNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.taxRate != null">
        tax_rate = #{record.taxRate,jdbcType=VARCHAR},
      </if>
      <if test="record.isLast != null">
        is_last = #{record.isLast,jdbcType=INTEGER},
      </if>
      <if test="record.settlementNumber != null">
        settlement_number = #{record.settlementNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.fsscBill != null">
        fssc_bill = #{record.fsscBill,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pcms_settlement_item
    set setid = #{record.setid,jdbcType=INTEGER},
      itid = #{record.itid,jdbcType=INTEGER},
      sedetail_id = #{record.sedetailId,jdbcType=VARCHAR},
      sedetail_money = #{record.sedetailMoney,jdbcType=VARCHAR},
      sedetail_memo = #{record.sedetailMemo,jdbcType=VARCHAR},
      tax_type = #{record.taxType,jdbcType=VARCHAR},
      invoice_number = #{record.invoiceNumber,jdbcType=VARCHAR},
      tax_rate = #{record.taxRate,jdbcType=VARCHAR},
      is_last = #{record.isLast,jdbcType=INTEGER},
      settlement_number = #{record.settlementNumber,jdbcType=VARCHAR},
      fssc_bill = #{record.fsscBill,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kuyu.model.pcms.PcmsSettlementItem">
    update pcms_settlement_item
    <set>
      <if test="itid != null">
        itid = #{itid,jdbcType=INTEGER},
      </if>
      <if test="sedetailId != null">
        sedetail_id = #{sedetailId,jdbcType=VARCHAR},
      </if>
      <if test="sedetailMoney != null">
        sedetail_money = #{sedetailMoney,jdbcType=VARCHAR},
      </if>
      <if test="sedetailMemo != null">
        sedetail_memo = #{sedetailMemo,jdbcType=VARCHAR},
      </if>
      <if test="taxType != null">
        tax_type = #{taxType,jdbcType=VARCHAR},
      </if>
      <if test="invoiceNumber != null">
        invoice_number = #{invoiceNumber,jdbcType=VARCHAR},
      </if>
      <if test="taxRate != null">
        tax_rate = #{taxRate,jdbcType=VARCHAR},
      </if>
      <if test="isLast != null">
        is_last = #{isLast,jdbcType=INTEGER},
      </if>
      <if test="settlementNumber != null">
        settlement_number = #{settlementNumber,jdbcType=VARCHAR},
      </if>
      <if test="fsscBill != null">
        fssc_bill = #{fsscBill,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where setid = #{setid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kuyu.model.pcms.PcmsSettlementItem">
    update pcms_settlement_item
    set itid = #{itid,jdbcType=INTEGER},
      sedetail_id = #{sedetailId,jdbcType=VARCHAR},
      sedetail_money = #{sedetailMoney,jdbcType=VARCHAR},
      sedetail_memo = #{sedetailMemo,jdbcType=VARCHAR},
      tax_type = #{taxType,jdbcType=VARCHAR},
      invoice_number = #{invoiceNumber,jdbcType=VARCHAR},
      tax_rate = #{taxRate,jdbcType=VARCHAR},
      is_last = #{isLast,jdbcType=INTEGER},
      settlement_number = #{settlementNumber,jdbcType=VARCHAR},
      fssc_bill = #{fsscBill,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where setid = #{setid,jdbcType=INTEGER}
  </update>
 
  
 <!-- =========================================自定义SQL==================================================== --> 
 
 <select id="selectByItid" parameterType="int" resultType="com.kuyu.vo.pcms.SettlementResult">
 	  SELECT
	a.setid,
	a.settlement_number AS settNumber,
	b.item_number AS itemNumber,
	a.sedetail_memo AS sedetailMemo,
	a.tax_type AS taxType,
	a.invoice_number AS invoiceNumber,
	a.is_last AS isLast,
	a.sedetail_money AS sedetailMoney
FROM
	pcms_settlement_item a
LEFT JOIN pcms_item b ON a.itid = b.itid
WHERE
	a.itid = #{itid}
	<!--  SELECT 
	b.fccs_bill AS fccsBill,
	b.sum_money AS sumMoney,
	b.`status` AS bxStatus,
	b.update_time AS updateTime,
	b.stop_reson AS stopReson
FROM
	pcms_settlement_item a
LEFT JOIN pcms_settlement b ON a.settlement_number = b.sett_number
WHERE a.itid=#{itid}-->
 </select>
 
  
</mapper>