<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kuyu.mapper.pcms.PcmsSettlementItemMapper" >
  <resultMap id="BaseResultMap" type="com.kuyu.model.pcms.PcmsSettlementItem" >
    <id column="setid" property="setid" jdbcType="INTEGER" />
    <result column="itid" property="itid" jdbcType="INTEGER" />
    <result column="sedetail_id" property="sedetailId" jdbcType="VARCHAR" />
    <result column="sedetail_money" property="sedetailMoney" jdbcType="VARCHAR" />
    <result column="sedetail_memo" property="sedetailMemo" jdbcType="VARCHAR" />
    <result column="tax_type" property="taxType" jdbcType="VARCHAR" />
    <result column="tax_number" property="taxNumber" jdbcType="VARCHAR" />
    <result column="tax_rate" property="taxRate" jdbcType="VARCHAR" />
    <result column="is_last" property="isLast" jdbcType="INTEGER" />
    <result column="settlement_id" property="settlementId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    setid, itid, sedetail_id, sedetail_money, sedetail_memo, tax_type, tax_number, tax_rate, 
    is_last, settlement_id, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.kuyu.model.pcms.PcmsSettlementItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pcms_settlement_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pcms_settlement_item
    where setid = #{setid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pcms_settlement_item
    where setid = #{setid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kuyu.model.pcms.PcmsSettlementItemExample" >
    delete from pcms_settlement_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kuyu.model.pcms.PcmsSettlementItem" >
    insert into pcms_settlement_item (setid, itid, sedetail_id, 
      sedetail_money, sedetail_memo, tax_type, 
      tax_number, tax_rate, is_last, 
      settlement_id, create_time)
    values (#{setid,jdbcType=INTEGER}, #{itid,jdbcType=INTEGER}, #{sedetailId,jdbcType=VARCHAR}, 
      #{sedetailMoney,jdbcType=VARCHAR}, #{sedetailMemo,jdbcType=VARCHAR}, #{taxType,jdbcType=VARCHAR}, 
      #{taxNumber,jdbcType=VARCHAR}, #{taxRate,jdbcType=VARCHAR}, #{isLast,jdbcType=INTEGER}, 
      #{settlementId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kuyu.model.pcms.PcmsSettlementItem" >
    insert into pcms_settlement_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="setid != null" >
        setid,
      </if>
      <if test="itid != null" >
        itid,
      </if>
      <if test="sedetailId != null" >
        sedetail_id,
      </if>
      <if test="sedetailMoney != null" >
        sedetail_money,
      </if>
      <if test="sedetailMemo != null" >
        sedetail_memo,
      </if>
      <if test="taxType != null" >
        tax_type,
      </if>
      <if test="taxNumber != null" >
        tax_number,
      </if>
      <if test="taxRate != null" >
        tax_rate,
      </if>
      <if test="isLast != null" >
        is_last,
      </if>
      <if test="settlementId != null" >
        settlement_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="setid != null" >
        #{setid,jdbcType=INTEGER},
      </if>
      <if test="itid != null" >
        #{itid,jdbcType=INTEGER},
      </if>
      <if test="sedetailId != null" >
        #{sedetailId,jdbcType=VARCHAR},
      </if>
      <if test="sedetailMoney != null" >
        #{sedetailMoney,jdbcType=VARCHAR},
      </if>
      <if test="sedetailMemo != null" >
        #{sedetailMemo,jdbcType=VARCHAR},
      </if>
      <if test="taxType != null" >
        #{taxType,jdbcType=VARCHAR},
      </if>
      <if test="taxNumber != null" >
        #{taxNumber,jdbcType=VARCHAR},
      </if>
      <if test="taxRate != null" >
        #{taxRate,jdbcType=VARCHAR},
      </if>
      <if test="isLast != null" >
        #{isLast,jdbcType=INTEGER},
      </if>
      <if test="settlementId != null" >
        #{settlementId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kuyu.model.pcms.PcmsSettlementItemExample" resultType="java.lang.Integer" >
    select count(*) from pcms_settlement_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pcms_settlement_item
    <set >
      <if test="record.setid != null" >
        setid = #{record.setid,jdbcType=INTEGER},
      </if>
      <if test="record.itid != null" >
        itid = #{record.itid,jdbcType=INTEGER},
      </if>
      <if test="record.sedetailId != null" >
        sedetail_id = #{record.sedetailId,jdbcType=VARCHAR},
      </if>
      <if test="record.sedetailMoney != null" >
        sedetail_money = #{record.sedetailMoney,jdbcType=VARCHAR},
      </if>
      <if test="record.sedetailMemo != null" >
        sedetail_memo = #{record.sedetailMemo,jdbcType=VARCHAR},
      </if>
      <if test="record.taxType != null" >
        tax_type = #{record.taxType,jdbcType=VARCHAR},
      </if>
      <if test="record.taxNumber != null" >
        tax_number = #{record.taxNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.taxRate != null" >
        tax_rate = #{record.taxRate,jdbcType=VARCHAR},
      </if>
      <if test="record.isLast != null" >
        is_last = #{record.isLast,jdbcType=INTEGER},
      </if>
      <if test="record.settlementId != null" >
        settlement_id = #{record.settlementId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pcms_settlement_item
    set setid = #{record.setid,jdbcType=INTEGER},
      itid = #{record.itid,jdbcType=INTEGER},
      sedetail_id = #{record.sedetailId,jdbcType=VARCHAR},
      sedetail_money = #{record.sedetailMoney,jdbcType=VARCHAR},
      sedetail_memo = #{record.sedetailMemo,jdbcType=VARCHAR},
      tax_type = #{record.taxType,jdbcType=VARCHAR},
      tax_number = #{record.taxNumber,jdbcType=VARCHAR},
      tax_rate = #{record.taxRate,jdbcType=VARCHAR},
      is_last = #{record.isLast,jdbcType=INTEGER},
      settlement_id = #{record.settlementId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kuyu.model.pcms.PcmsSettlementItem" >
    update pcms_settlement_item
    <set >
      <if test="itid != null" >
        itid = #{itid,jdbcType=INTEGER},
      </if>
      <if test="sedetailId != null" >
        sedetail_id = #{sedetailId,jdbcType=VARCHAR},
      </if>
      <if test="sedetailMoney != null" >
        sedetail_money = #{sedetailMoney,jdbcType=VARCHAR},
      </if>
      <if test="sedetailMemo != null" >
        sedetail_memo = #{sedetailMemo,jdbcType=VARCHAR},
      </if>
      <if test="taxType != null" >
        tax_type = #{taxType,jdbcType=VARCHAR},
      </if>
      <if test="taxNumber != null" >
        tax_number = #{taxNumber,jdbcType=VARCHAR},
      </if>
      <if test="taxRate != null" >
        tax_rate = #{taxRate,jdbcType=VARCHAR},
      </if>
      <if test="isLast != null" >
        is_last = #{isLast,jdbcType=INTEGER},
      </if>
      <if test="settlementId != null" >
        settlement_id = #{settlementId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where setid = #{setid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kuyu.model.pcms.PcmsSettlementItem" >
    update pcms_settlement_item
    set itid = #{itid,jdbcType=INTEGER},
      sedetail_id = #{sedetailId,jdbcType=VARCHAR},
      sedetail_money = #{sedetailMoney,jdbcType=VARCHAR},
      sedetail_memo = #{sedetailMemo,jdbcType=VARCHAR},
      tax_type = #{taxType,jdbcType=VARCHAR},
      tax_number = #{taxNumber,jdbcType=VARCHAR},
      tax_rate = #{taxRate,jdbcType=VARCHAR},
      is_last = #{isLast,jdbcType=INTEGER},
      settlement_id = #{settlementId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where setid = #{setid,jdbcType=INTEGER}
  </update>
</mapper>