<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuyu.mapper.pcms.PcmsUserMapper">


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
		id,
		openid,
		create_time,
		type
	</sql>

    <!-- 根据openid查询是否绑定 -->
    <select id="selectPcmsUserModel" resultType="com.kuyu.model.pcms.PcmsUserModel"
            parameterType="com.kuyu.model.pcms.PcmsUserModel">
        SELECT
        <include refid="Base_Column_List" />
        FROM pcms_user
        <where>
            <if test="openid != null and openid != ''">
                 openid = #{openid}
            </if>
        </where>
    </select>


</mapper>