<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuyu.mapper.pcms.ReceiptMapper">
    <!-- 供应商信息分页 -->
    <select id="findReceiptList" resultType="com.kuyu.model.pcms.ReceiptModel">
        SELECT p.item_number AS item_number,
        pt.REQUEST_DEPT AS request_dept,
        pt.request_user_name AS request_user_name,
        pt.REQUEST_TITLE AS request_title,
        pm.cost AS cost,
        p.item_price AS item_price,
        pt.TYPE as type,
        pt.REQUEST_COMPANY_CODE AS request_company_code,
        p.create_time AS create_time
        FROM pcms_supplier_user t
        LEFT JOIN pcms_item p ON t.vendor_id = p.vendor_id
        LEFT JOIN pcms_project pt ON p.request_id = pt.REQUEST_ID
        RIGHT JOIN pcms_material pm ON pm.resuest_id = pt.REQUEST_ID AND pm.vendor_id = t.vendor_id
        <where>
            <if test="params.openid !=null and params.openid !=''">
                t.openid =
                #{params.openid,jdbcType=VARCHAR}
            </if>
            <if test="params.openid !=null and params.openid !=''">
                AND p.status = 0
            </if>
        </where>
        ORDER BY p.create_time DESC
    </select>
</mapper>