<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuyu.mapper.pcms.ReceiptMapper">
    <select id="findReceiptList" resultType="com.kuyu.model.pcms.ReceiptModel">
        SELECT p.item_number AS item_number,
        pt.REQUEST_DEPT AS request_dept,
        pt.request_user_name AS request_user_name,
        pt.REQUEST_TITLE AS request_title,
        p.itid AS itid,
        p.item_price AS item_price,
        p.status AS status,
        pt.TYPE as type,
        pt.REQUEST_COMPANY_CODE AS request_company_code,
        p.create_time AS create_time
        FROM pcms_supplier_user t
        LEFT JOIN pcms_item p ON t.vendor_id = p.vendor_id
        LEFT JOIN pcms_project pt ON p.request_id = pt.REQUEST_ID
        <where>
            <if test="params.openid !=null and params.openid !=''">
                t.openid =
                #{params.openid,jdbcType=VARCHAR}
            </if>
            <if test="params.state ==0">
                AND p.status = #{params.state,jdbcType=INTEGER}
            </if>
            <if test="params.state ==1">
                AND (p.status = 1 or p.status = 2 or p.status =3 or p.status = 4)
            </if>
        </where>
        ORDER BY p.create_time DESC
    </select>

    <select id="getReceiptDetail" resultType="com.kuyu.model.pcms.ReceiptDetailModel">
        SELECT p.item_number AS item_number,
        pt.REQUEST_DEPT AS request_dept,
        pt.request_user_name AS request_user_name,
        pt.REQUEST_TITLE AS request_title,
        p.itid AS itid,
        p.item_price AS item_price,
        p.status AS status,
        p.it_type as type,
        pt.REQUEST_COMPANY_CODE AS request_company_code,
        p.create_time AS create_time
        FROM pcms_item p
        LEFT JOIN pcms_project pt ON p.request_id = pt.REQUEST_ID
        <where>
             p.itid = #{itid,jdbcType=INTEGER}
        </where>
    </select>

    <select id="getPcmsShopInfo" resultType="com.kuyu.vo.pcms.PcmsShopVo">
        SELECT
        ps.SHOP_NAME AS shop_name,
        ps.SHOP_PROVINCE AS shop_province,
        ps.SHOP_CITY AS shop_city,
        ps.SHOP_COUNTY AS shop_county,
        ps.SHOP_CRM_CODE AS shop_crm_code,
        ps.SHOP_LEVEL AS shop_level,
        ps.SHOP_BRANCH AS shop_branch,
        ps.SHOP_CHANNEL AS shop_channel,
        ps.DETAIL_TASK AS detail_task
        FROM pcms_item p
        LEFT JOIN pcms_project pt ON p.request_id = pt.REQUEST_ID
        LEFT JOIN pcms_shop ps ON pt.REQUEST_ID = ps.REQUEST_ID
        <where>
            p.itid = #{itid,jdbcType=INTEGER}
        </where>
    </select>


    <select id="getPcmsShowcaseInfo" resultType="com.kuyu.vo.pcms.PcmsShowcaseVo">
        SELECT
        ps.scid AS scid,
        ps.CHILDREN1_TYPE AS children1_type,
        ps.CHILDREN1_LAST_BUILDTIME AS children1_last_buildtime,
        ps.CHILDREN1_AREA AS children1_area,
        ps.CHILDREN1_LINEAR AS children1_linear,
        ps.CHILDREN1_BUILDTIME AS children1_buildtime,
        ps.CHILDREN1_INNER AS children1_inner,
        ps.CHILDREN1_OUTER AS children1_outer,
        ps.CHILDREN1_REASON AS children1_reason
        FROM pcms_item p
        RIGHT JOIN pcms_showcase ps ON p.request_id = ps.resuest_id AND p.vendor_id = ps.vendor_id
        <where>
            p.itid = #{itid,jdbcType=INTEGER}
        </where>
    </select>

    <select id="getPcmsOthertmInfo" resultType="com.kuyu.vo.pcms.PcmsOthertmVo">
        SELECT
        op.mrname3 AS mrname3,
        op.specifications3 AS specifications3,
        op.CHILDREN3_COUNT AS children3_count,
        op.CHILDREN3_PRICE AS children3_price,
        op.CHILDREN3_AMOUNT AS children3_amount
        FROM pcms_item p
        RIGHT JOIN pcms_othertm op ON op.detail_id = p.detail_id
        <where>
            p.itid = #{itid,jdbcType=INTEGER}
        </where>
    </select>

    <select id="getMaterialResultInfo" resultType="com.kuyu.vo.pcms.MaterialResult">
        SELECT
        pm.mrname AS mrname,
        pm.cost AS cost,
        pm.specifications AS specifications,
        pm.number AS number,
        pm.unit AS unit,
        pm.comparison_price AS comparisonPrice
        FROM pcms_item p
        RIGHT JOIN pcms_material pm ON p.detail_id = pm.activity_id
        <where>
            p.itid = #{itid,jdbcType=INTEGER}
        </where>
    </select>


    <select id="getItemDetail" resultType="com.kuyu.model.pcms.ReceiptDetailModel">
        SELECT p.item_number AS item_number,
        pt.REQUEST_DEPT AS request_dept,
        pt.request_user_name AS request_user_name,
        pt.REQUEST_TITLE AS request_title,
        p.itid AS itid,
        p.item_price AS item_price,
        p.status AS STATUS,
        p.it_type AS TYPE,
        pt.REQUEST_COMPANY_CODE AS request_company_code,
        p.create_time AS create_time,
        p.end_time AS end_time,
        p.dispatch_time AS dispatch_time,
        p.dispatch AS dispatch,
        pt.DETAIL_ACCOUNT AS subclass,
        ps.vendor_name AS vendor_name,
        ps.vendor_id AS vendor_id,
        pt.REQUEST_ID AS request_id
        FROM pcms_item p
        LEFT JOIN pcms_project pt ON p.request_id = pt.REQUEST_ID
        LEFT JOIN pcms_supplier ps ON p.vendor_id = ps.vendor_id
        <where>
            p.itid = #{itid,jdbcType=INTEGER}
        </where>
    </select>

    <select id="getDetail" resultType="com.kuyu.vo.pcms.ReceiptDetailVo">
        /*SELECT p.item_number AS item_number,
        pt.REQUEST_DEPT AS request_dept,
        pt.request_user_name AS request_user_name,
        pt.REQUEST_TITLE AS request_title,
        p.itid AS itid,
        IFNULL(d.DETAIL_ACCOUNT,f.fee_detail_type) AS subclass,
        p.item_price AS item_price,
        p.status AS STATUS,
        p.it_type AS TYPE,
        pt.REQUEST_COMPANY_CODE AS request_company_code,
        p.create_time AS create_time,
        p.end_time AS end_time,
        p.dispatch_time AS dispatch_time,
        p.dispatch AS dispatch,
        ps.vendor_name AS vendor_name,
        ps.vendor_id AS vendor_id,
        pt.REQUEST_ID AS request_id
        FROM pcms_item p
        LEFT JOIN pcms_project pt ON p.request_id = pt.REQUEST_ID
        LEFT JOIN pcms_supplier ps ON p.vendor_id = ps.vendor_id*/
        SELECT p.item_number AS item_number,
        pt.REQUEST_DEPT AS request_dept,
        e.person_name AS request_user_name,
        pt.REQUEST_TITLE AS request_title,
        p.itid AS itid,
        p.item_price AS item_price,
        p.status AS STATUS,
        p.it_type AS TYPE,
        pt.REQUEST_COMPANY_CODE AS request_company_code,
        pt.REQUEST_CREATE_TIME AS create_time,
        p.dispatch_time AS dispatch_time,
        p.dispatch AS dispatch,
        IFNULL(d.DETAIL_ACCOUNT,f.fee_detail_type) AS subclass,
        ps.vendor_name AS vendor_name,
        ps.vendor_id AS vendor_id,
        pt.REQUEST_END_TIME AS end_time,
        pt.REQUEST_ID AS request_id
        FROM pcms_item p
        LEFT JOIN pcms_project pt ON p.request_id = pt.REQUEST_ID
        LEFT JOIN pcms_supplier ps ON p.vendor_id = ps.vendor_id
        LEFT JOIN pcms_project_deatil d ON p.detail_id = d.DETAIL_ID
        LEFT JOIN tpm_employee e ON e.person_code = pt.REQUEST_USER
        LEFT JOIN tpm_activity_original f ON f.project_id = p.detail_id
        <where>
            p.itid = #{itid,jdbcType=INTEGER}
        </where>
    </select>

</mapper>