# Maven #
target/

# IDEA #
.idea/
*.iml

# Eclipse #
.settings/
.classpath
.project
bin/

# jrebel #
src/main/resources/rebel.xml
src/main/resources/application-test.properties
src/main/java/com/kuyu/common/MyTest1.java
src/main/java/com/kuyu/common/MyTest2.java
